			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<div class="checkbox" id="theme-toggle">
						<label class="checkbox-custom" data-initialize="checkbox">
							<input class="sr-only" type="checkbox" value="mctheme">
							<span class="checkbox-label">Marketing Cloud Theme</span>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Building Form. -->
				<div class="col-md-6">
					<div>
						<h2>Your Form</h2>
						<hr>
						<div id="build">
							<form id="target" class="form-horizontal">
							</form>
						</div>
					</div>
				</div>
				<!-- / Building Form. -->

				<!-- Components -->
				<div class="col-md-6">
					<h2>Drag & Drop components</h2>
					<hr>
					<div class="tabbable">
						<ul class="nav nav-tabs" id="formtabs">
							<!-- Tab nav -->
						</ul>
						<form id="components">
							<fieldset>
								<div class="tab-content">
									<!-- Tabs of components go here -->
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<!-- / Components -->

			</div>

			<div class="row">
				<div class="col-md-12">
					<hr>
					<p>
					By <a href="http://twitter.com/cmcculloh">Christopher McCulloh</a> based on <a href="https://github.com/minikomi/Bootstrap-Form-Builder" >Bootstrap Form Builder</a> by Adam Moore (<a href="http://twitter.com/minikomi" >@minikomi</a>). <a href="https://github.com/cormacmccarthy/Fuel-UX-Form-Builder">Fork Me</a>.
					</p>

					<p>
					<a href="exacttarget.github.io/fuelux/">Fuel UX</a> & <a href="http://getbootstrap.com/">Bootstrap</a> form builder to help take the stress out of writing all that markup to get forms together.
					</p>

					<p>
					Adding components is quite simple! <a href="https://github.com/cormacmccarthy/Fuel-UX-Form-Builder">Clone the project</a> and <a href="https://github.com/cormacmccarthy/Fuel-UX-Form-Builder/blob/gh-pages/README.md">checkout the README</a> for more information on hacking on this tool. Pull requests welcome!
					</p>
				</div>
			</div>