<!-- Button Drop Down http://getbootstrap.com/components/#input-groups-buttons-dropdowns -->
<div class="form-group<% if(horizontal && inputsize) {%> form-group-<%= inputsize %><% } %>">
	<label class="control-label<% if(horizontal) { %> col-sm-2<% } %>" for="<%= id %>Input"><%= label %></label>
<% if(horizontal) {%>
	<div class="col-sm-10">
<% } %>
		<div class="input-group<% if(inputsize) {%> input-group-<%= inputsize %><% } %>" id="<%= id %>">
			<% if(placement=="appended") { %>
				<input id="<%= id %>Input" name="<%= id %>Input" class="<% if(!horizontal && inputsize) {%>input-<%= inputsize %><% } %> form-control" placeholder="<%= placeholder %>" <% if(required) {%> required <% } %><% if(readonly) {%> readonly <% } %><% if(isDisabled) {%> disabled <% } %> />
			<% } %>
			<div class="input-group-btn">
				<button class="btn btn-default dropdown-toggle btn-<%= inputsize %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" <% if(required) {%> required <% } %><% if(readonly) {%> readonly <% } %><% if(isDisabled) {%> disabled <% } %>>
					<%= buttontext %>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu"><% _.each(buttonoptions, function(value) { %>
					<li><a href="#"><%= value %></a></li><% }); %>
				</ul>
			</div><!-- /btn-group -->
			<% if(placement=="prepended") { %>
				<input id="<%= id %>Input" name="<%= id %>Input" class="<% if(!horizontal && inputsize) {%>input-<%= inputsize %><% } %> form-control" placeholder="<%= placeholder %>" <% if(required) {%> required <% } %><% if(readonly) {%> readonly <% } %><% if(isDisabled) {%> disabled <% } %> />
			<% } %>
		</div><!-- /input-group -->

	<% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
<% if(horizontal) {%>
	</div>
<% } %>
</div>