<!-- Multiple Checkboxes -->
<div class="control-group">
	<label class="control-label" for="<%= name %>"><%= label %></label>
	<div class="controls">
		<% _.each(checkboxes, function(checkbox, i){ %>
			<div class="checkbox" id="<%= name+'-'+i %>" >
				<label class="checkbox-custom" data-initialize="checkbox">
					<input class="sr-only" name="<%= name %>" type="checkbox" value="<%= checkbox %>" <% if(required){ %> required="required"<% } %>>
					<span class="checkbox-label"><%= checkbox %></span>
				</label>
			</div>
		<% }); %>
	</div>
</div>
