<!-- Spinbox -->
<div class="control-group">
	<label class="control-label" for ="<%= id %>"><%= label %></label>
	<div class="controls">
		<div class="spinbox" data-initialize="spinbox">
			<input type="text" class="form-control input-mini spinbox-input" value="<%= placeholder %>" id="mySpinbox">
			<div class="spinbox-buttons btn-group btn-group-vertical">
				<button class="btn btn-default spinbox-up btn-xs">
					<span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
				</button>
				<button class="btn btn-default spinbox-down btn-xs">
					<span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
				</button>
			</div>
			<% if (helptext.length > 0) { %><span class="help-block"><%= helptext %></span><% } %>
		</div>
	</div>
</div>