.repeater-list {
	&-header,
	&-items {
		margin-bottom: 0;
		width: 100%;

		td {
			border-bottom: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-top: none;

			&:first-child {
				border-left: none;
			}
		}
	}

	&-header {
		background: #F9F9F9;

		td {
			font-weight: bold;
		}
	}

	&-wrapper {
		overflow-y: auto;
	}
}