.repeater[data-currentview="list"] {
	.repeater-loader {
		margin-top: -12px;

		&.noHeader {
			margin-top: -32px;
		}
	}
}

.repeater-list {
	&-header,
	&-items {
		margin-bottom: 0;
		width: 100%;

		td {
			border-bottom: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-top: none;

			&:first-child {
				border-left: none;
			}

			&.sortable {
				&:hover,
				&.sorted
				{
					background: #F1F1F1;
					cursor: pointer;
					#gradient > .vertical(@startColor: #F9F9F9; @endColor: #E5E5E5);
				}

				&.sorted {
					span.glyphicon {
						display: block;
					}
				}
			}

			span.glyphicon {
				display: none;
				float: right;
				margin-top: 2px;
			}
		}
	}

	&-header {
		background: #F9F9F9;

		td {
			font-weight: bold;
		}
	}

	&-wrapper {
		overflow-y: auto;
	}
}