.repeater {
	border: 1px solid red;

	&-header {
		background: grey;
		border-bottom: 1px solid red;
		height: 30px;
	}

	&-footer {
		background: grey;
		border-top: 1px solid red;
		height: 30px;
	}
}