//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

@true-black:        #000;
@true-white:        #FFF;

// Grays
// -------------------------
@gray07:            lighten(@true-black, 7%);      // #111
@gray13:            lighten(@true-black, 13.5%);   // #222
@gray15:            lighten(@true-black, 15%);     // #252525
@gray20:            lighten(@true-black, 20%);     // #333
@gray27:            lighten(@true-black, 27%);     // #444
@gray33:            lighten(@true-black, 33.5%);   // #555
@gray40:            lighten(@true-black, 40%);     // #666
@gray46:            lighten(@true-black, 46%);     // #757575
//@gray47:            lighten(@true-black, 46.7%); // #777
@gray53:            lighten(@true-black, 53%);   // #888
@gray60:            lighten(@true-black, 60%);     // #999
@gray67:            lighten(@true-black, 66.5%);   // #AAA
@gray74:            lighten(@true-black, 73.5%); // #BBB
//@gray75:            lighten(@true-black, 75%);   // #4b4b4b
@gray80:            lighten(@true-black, 80%);     // #CCC
@gray87:            lighten(@true-black, 86.5%);   // #DDD
@gray90:            lighten(@true-black, 90%);     // #E5E5E5
@gray93:            lighten(@true-black, 93.5%);   // #EEE
@gray96:            lighten(@true-black, 96%);     // #F5F5F5
@gray98:            lighten(@true-black, 98%);     // #f9f9f9
@gray99:            lighten(@true-black, 99%);     // #FCFCFC

@black:                 @true-black;
@grayDarker:            @gray13;
@grayDark:              @gray20;
@gray:                  @gray33;
@grayLight:             @gray60;
@grayLighter:           @gray93;
@white:                 @true-white;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

// Text Colors
// -------------------------
@text-primary:         #428bca;
@text-success:         #3c763d;
@text-info:            #31708f;
@text-warning:         #8a6d3b;
@text-danger:          #a94442;
@text-dimmed:          @gray40;
@text-muted:           @gray60;

// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;
@text-color:            @textColor;
@focusColor:            #5B9DD9;

// Links
// -------------------------
@linkColor:             #0088cc;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@font-size-h1:            floor((@baseFontSize * 2.6)); // ~36px
@font-size-h2:            floor((@baseFontSize * 2.15)); // ~30px
@font-size-h3:            ceil((@baseFontSize * 1.7)); // ~24px
@font-size-h4:            ceil((@baseFontSize * 1.25)); // ~18px
@font-size-h5:            @baseFontSize;
@font-size-h6:            ceil((@baseFontSize * 0.85)); // ~12pxgr

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             @gray98; // for striping
@tableBackgroundHover:              @gray96; // for hover
@tableBorder:                       @gray87; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         @gray80;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              @gray27;
@btnInverseBackgroundHighlight:     @grayDarker;

@btnPaddingVertical:                6px;
@btnPaddingHorizontal:              12px;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   @gray80;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @gray93;
@formActionsBackground:         @gray96;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            @gray90;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

//Selectable Hover, Selected, Selected Hover
// -------------------------
@selectableHover: @gray96;
@selected: @gray93;
@selectedHover: @gray87;



// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @gray60;


// Hr border color
// -------------------------
@hrBorder:                @gray93;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  @gray96;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       @true-white;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      @gray40;;
@navbarLinkColor:                 @gray40;;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                @gray07;
@navbarInverseBackgroundHighlight:       @gray13;
@navbarInverseBorder:                    @gray15;

@navbarInverseText:                      @gray60;
@navbarInverseLinkColor:                 @gray60;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    @gray80;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                @true-white;
@paginationBorder:                    @gray87;
@paginationActiveBackground:          @gray96;


// Hero unit
// -------------------------
@heroUnitBackground:              @gray93;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            @true-white;
@tooltipBackground:       @true-black;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       @true-white;
@popoverArrowWidth:       10px;
@popoverArrowColor:       @true-white;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);


// Controls
// --------------------------------------------------

// Checkbox
// -------------------------
@checkboxPrimaryColor:                 #39b3d7;

// Datepicker
// -------------------------
@datepickerHover:      #0f5f9f;
@datepickerHoverAlt:   #1b75bb;

// Tree
// -------------------------
@treeHoverText: @gray60;
@treeSelectBackground: @selected;


// Icons
// -------------------------
@fueluxFontPath: "../fonts/";



// --------------------------------------------------
// Padding / Margin
// --------------------------------------------------
@padding-xs: 5px;
@padding-sm: 10px;
@padding-md: 15px;
@padding-lg: 20px;

@margin-xs: 5px;
@margin-sm: 10px;
@margin-md: 15px;
@margin-lg: 20px;


