---
layout: default
title: Extensions
slug: extensions
lead: "Information on writing extensions for Bootstrap or Fuel UX, documentation on stock extensions, and links to those written by the community."
---



<div class="fu-docs-section">
	<h1 id="stock-extensions" class="page-header">Stock Extensions</h1>
	<p class="lead">Extensions that come as a part of Fuel UX by default.</p>

	{% include extensions/dropdown-autoflip.html %}

	{% include extensions/repeater-list.html %}

	{% include extensions/repeater-thumbnail.html %}

	<h1 id="writing-extensions" class="page-header">Writing an Extension</h1>

	{% include extensions/writing-general.html %}

	{% include extensions/writing-repeater.html %}

	<h1 id="community-extensions" class="page-header">Community Extension List</h1>
	<h2 id="community-extensions-etc">Etc.</h2>
	<ul>
		<li>Bleh</li>
		<li>Blah</li>
		<li>Bloo</li>
	</ul>

</div>