---
layout: default
title: Getting started
slug: getting-started
lead: "An overview of Fuel UX, how to download and use, basic templates, and more."
---

<div class="fu-docs-section">

<h1 id="download">Download</h1>

<p class="lead">Fuel UX provides a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see which method suits your particular needs.</p>

<div class="row fu-downloads" style="margin-bottom: 20px;">
  <div class="col-sm-4">
    <h3 id="bower-fuelux">Install with Bower</h3>
    <p>Use a dependency manager to manage your front-end code</p>
    <a href="#download-list" class="btn btn-lg btn-outline" role="button">Find out more</a>
  </div>
  <div class="col-sm-4">
    <h3 id="download-fuelux">Compiled Files</h3>
    <p>Compiled and minified CSS, JavaScript, and fonts. Includes no documentation.</p>
    <a href="#" class="btn btn-lg btn-outline" role="button">Download Fuel UX</a>
    <!--<a href="{{ site.download.dist }}" class="btn btn-lg btn-outline" role="button">Download Fuel UX</a>-->
  </div>
  <div class="col-sm-4">
    <h3 id="download-source">Source code</h3>
    <p>Includes all files. We recommend cloning this git repository.</p>
    <a href="#" class="btn btn-lg btn-outline" role="button">Download source</a>
    <!--<a href="{{ site.download.source }}" class="btn btn-lg btn-outline" role="button">Download source</a>-->
  </div>
</div>

  <p class="muted">Currently v{{ site.current_version }}.</p>

<a id="download-list"></a>

<!-- BEGIN FROM GITHUB README.md -->

<p>Obtain Fuel UX in one of three ways:</p>

<ol class="task-list">
<li>
<p><strong>Best way</strong> - Install with a dependency manager:</p>

<p>Using <a href="https://github.com/bower/bower">Bower</a>:</p>

<pre><code>bower install fuelux
</code></pre>

<p>Update with <code>bower update fuelux</code>.</p>

<p>Using <a href="https://github.com/volojs/volo">Volo</a>:</p>

<pre><code>volo add fuelux
</code></pre>

<p>Update with <code>volo add -f fuelux</code>.</p>

<p>This method ensures you receive all the dependencies you might need, such as jQuery, Bootstap, moment.js (for extended date support), and requireJS (for AMD support).</p>
</li>
<li>
<p><strong>Another good way</strong> - Clone the Git repository:</p>

<pre><code>git clone https://github.com/ExactTarget/fuelux/
</code></pre>

<p>Cloning the repository ensures you can apply future updates to FuelUX easily, but this method requires to you manage its <a href="#dependencies">dependencies</a> on your own.</p>
</li>
<li>
<p><strong>Also an option</strong> - Download a .zip archive of the latest release <strong>(needthis)</strong> or request files from <a href="http://www.fuelcdn.com/fuelux/">the FuelUX CDN</a>.</p>

<p><em>Using FuelUX in this way can make updating to future releases difficult. Do not use this approach if you plan to maintain your application in the future.</em></p>
</li>
</ol>

<!-- END FROM GITHUB README.md -->


  <h3 id="download-cdn">FuelUX CDN</h3>
  <p>If you choose to manage your own dependencies and would like to just copy and paste FuelUX into your project, ExactTarget hosts Fuel UX at <a href="http://www.fuelcdn.com/">FuelCDN.</a> Use these <a href="http://www.fuelcdn.com/fuelux-resources">Fuel CDN</a> links.</p>
{% highlight html %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ site.cdn.css }}">

<!-- Optional theme -->
<link rel="stylesheet" href="{{ site.cdn.css_theme }}">

<!-- Latest compiled and minified JavaScript -->
<script src="{{ site.cdn.js }}"></script>
{% endhighlight %}

<h3>
<a name="user-content-whats-included" class="anchor" href="#whats-included"><span class="octicon octicon-link"></span></a>What's included</h3>

<p class="lead">You can download FuelUX in four forms, and each form includes the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>

  <div class="bs-callout bs-callout-warning" id="jquery-required">
    <h4>jQuery and Bootstrap 3 required</h4>
    <p>FuelUX remains dependent upon <a href="https://github.com/twbs/bootstrap">Bootstrap 3</a> and <a href="https://github.com/jquery/jquery">jQuery</a>. If you installed Fuel UX by cloning the repo or by downloading a .zip archive, you must install these reources to work with Fuel UX.</p>
  </div>

<p>A download of FuelUX provides the following directories and files, grouped according to file type:</p>

<pre><code>fuelux/
├── css/
│   ├── fuelux.css
│   ├── fuelux.min.css
├── js/
│   ├── fuelux.js
│   └── fuelux.min.js
└── fonts/
    ├── fuelux.eot
    ├── fuelux.svg
    ├── fuelux.ttf
    └── fuelux.woff
</code></pre>

<p>We provide compiled CSS and JS (like <code>fuelux.*</code>), as well as compiled and minified CSS and JS (like <code>fuelux.min.*</code>) in the <code>dist</code> folder.</p>

</div>

<!-- Template
================================================== -->
<div class="fu-docs-section">
  <h1 id="template" class="page-header">Basic template</h1>

  <p class="lead">Start with this basic HTML template using browser global variables (just like Bootstrap).</p>

  <p>Copy the HTML below to begin working with a minimal FuelUX document using browser globals.</p>
{% highlight html %}
{% include getting-started-globals-template.html %}
{% endhighlight %}

  <p>The FuelUX team uses and recommends AMD modules (with a manager such as <a href="requirejs.org">require.js</a>) and bundling for production.</p>

  <p>Copy the HTML below to begin working with the Asynchronous Module Definition (AMD) files.</p>
{% highlight html %}
{% include getting-started-amd-template.html %}
{% endhighlight %}


<!-- BEGIN FROM GITHUB README.md -->

<h3>
<a name="user-content-umdamd-support" class="anchor" href="#umdamd-support"><span class="octicon octicon-link"></span></a>UMD/AMD Support</h3>

<p>We recommend only loading the controls you need (e.g.- <code>fuelux/checkbox</code>).</p>

<p>If you use AMD (such as <a href="http://require.js.org">RequireJS</a>), reference the FuelUX directory in your paths configuration, wherever it is located:</p>

<div class="highlight highlight-javascript"><pre><span class="nx">require</span><span class="p">.</span><span class="nx">config</span><span class="p">({</span>
    <span class="nx">paths</span><span class="o">:</span> <span class="p">{</span>
        <span class="s1">'fuelux'</span><span class="o">:</span> <span class="s1">'http://www.fuelcdn.com/fuelux/3.0.0/'</span>
        <span class="c1">//...</span>
    <span class="p">}</span>
<span class="p">});</span>
</pre></div>

<p>Then list any individual fuelux controls needed as dependencies within your application modules:</p>

<div class="highlight highlight-javascript"><pre><span class="nx">define</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">require</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">spinbox</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'fuelux/spinbox'</span><span class="p">);</span>
    <span class="c1">//...</span>
<span class="p">});</span>
</pre></div>

<p>For your convenience when using AMD, you can  use <code>fuelux/all</code> instead of listing each module individually. ExactTarget Marketing Cloud does not recommend this practice.</p>

<p>FuelUX also supports placing components in their own <code>&lt;script&gt;</code> tags. Be sure to put modules in the correct order if you load them in this method.</p>

</div>

<div class="fu-docs-section">
<!-- Cross link to new migration page -->
<div class="fu-callout fu-callout-info" id="migration">
  <h4>Migrating from v2.x to v3.x</h4>
  <p>Interested in migrating from an older version of Fuel UX to v3.x? Check out <a href="migration.html">our migration guide</a>.</p>
</div>
</div>

<div class="fu-docs-section">

  <h1 id="bugs">Bugs and feature requests</h1>

  <p>Have a bug or a feature request? Please first review the <a href="https://github.com/ExactTarget/fuelux/issues">open issues</a>, then search for existing and closed issues. If your problem or idea is not addressed yet, <a href="https://github.com/ExactTarget/fuelux/issues/new">please open a new issue</a>.</p>

  <p>You can visit <a href="https://code.exacttarget.com/tag/fuel-ux">questions tagged FuelUX</a> in the ExactTarget Developer Community and search <a href="http://stackoverflow.com/questions/tagged/fuelux">FuelUX tagged questions on StackOverflow</a>.</p>

  <p>You can also visit <a href="https://fuelux.uservoice.com">UserVoice community</a> and post a comment or suggest features. We will maintain of backlog of feature we are considering developing in a <a href="https://github.com/ExactTarget/fuelux/blob/3.0.0-wip/BACKLOG.md">backlog</a>.</p>

  <h3>
  <a name="user-content-previous-releases" class="anchor" href="#previous-releases"><span class="octicon octicon-link"></span></a>Previous releases</h3>

  <p>Access documentation for v2.6.x at <strong>(need link)</strong> while users transition to Bootstrap 3. You can also download previous releases and  documentation. <strong>(need link)</strong></p>

</div>


<div class="fu-docs-section">

  <h1 id="contributing">Contributing</h1>

  <p class="lead">Stay up to date on the development of FuelUX and reach out to others in the community with these helpful resources.</p>

  <ul>
    <li>Before writing code, we suggest you <a href="https://github.com/ExactTarget/fuelux/issues?state=open">search for issues</a> or <a href="https://github.com/ExactTarget/fuelux/issues/new">create a new one</a> to confirm where your contribution fits into
    our roadmap.</li>

    <li>In lieu of a formal style guide, take care to maintain the existing coding style, including the following:
      <ul>
        <li>tabs</li>
        <li>clarity over brevity</li>
        <li>declarative markup</li>
        <li>semicolons</li>
      </ul>
      Be sure to add unit tests for any new or changed functionality. Lint and test your code using <a href="https://github.com/cowboy/grunt">grunt</a>.</li>

    <li>Read more about <a href="https://github.com/ExactTarget/fuelux/wiki/Contributing-to-Fuel-UX">contributing to FuelUX</a></li>

    <li>Please do not edit files in the <code>dist</code> directory, as we generate those files via grunt. Find source code in the respective <code>js</code>, <code>less</code>, and <code>fonts</code> directory.</li>

    <li>While grunt can run the included unit tests via PhantomJS, ensure that you run tests across a variety of browsers and environments. View the test page at <a href="http://localhost:8000/test/">http://localhost:8000/test/</a> in as many of the browsers listed in <code>sauce_browsers.yml</code> as you can before contributing.</li>
  </ul>

</div>

<!-- END FROM GITHUB README.md -->


<!-- Browser support
================================================== -->
<div class="bs-docs-section">
  <h1 id="support" class="page-header">Browser and device support</h1>
  <p class="lead">FuelUX is built to work best in the latest desktop and mobile browsers, meaning older browsers might display differently styled, though fully functional renderings of FuelUX controls.</p>

  <h3 id="support-browsers">Supported browsers</h3>
  <p>The ExactTarget Marketing Cloud supports the <strong>latest versions</strong> of the following browsers and platforms. On Windows, <strong>we additionally support Internet Explorer, versions 8 through 11</strong>. Review more specific support information below:</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td></td>
          <th>Chrome</th>
          <th>Firefox</th>
          <th>Internet Explorer</th>
          <th>Opera</th>
          <th>Safari</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Android</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
          <td class="text-muted" rowspan="3" style="vertical-align: middle;">N/A</td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
          <td class="text-muted">N/A</td>
        </tr>
        <tr>
          <th>iOS</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-muted">N/A</td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
        </tr>
        <tr>
          <th>Mac OS X</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
        </tr>
        <tr>
          <th>Windows</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>While FuelUX should look and behave well in Chromium and Chrome for Linux and Firefox for Linux, Fuel UX does not officially support these browsers.</p>

  <h3 id="support-ie8-ie9">Internet Explorer 8 and 9</h3>
  <p>While Fuel UX supports Internet Explorer 8 and 9, please be aware that these browsers do not fully support some CSS3 properties and HTML5 elements. In addition, Internet Explorer 8 requires the use of fixed-width columns and containers due to its lack of media-query support. You may try using <a href="http://modernizr.com/">Modernizr</a> or conditional comments like <code>&lt;!--[if IE 8]&gt;</code> to style fixed-width containers.</p>

  <p>Visit <a href="http://caniuse.com/">Can I use...</a> for details on browser support of CSS3 and HTML5 features.</p>

</div>
