---
layout: default
title: Getting started
slug: getting-started
lead: "An overview of Fuel UX, how to download and use and more."
---

<div class="fu-docs-section">

<h1 id="download">Download</h1>

<p class="lead">FuelUX has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>

<div class="row fu-downloads" style="margin-bottom: 20px;">
  <div class="col-sm-4">
    <h3 id="bower-fuelux">Install with Bower</h3>
    <p>Use a dependency manager to manage your front-end code</p>
    <a href="#download-list" class="btn btn-lg btn-outline" role="button">Find out more</a>
  </div>
  <div class="col-sm-4">
    <h3 id="download-fuelux">Compiled Files</h3>
    <p>Compiled and minified CSS, JavaScript, and fonts. No documentation is included.</p>
    <a href="#" class="btn btn-lg btn-outline" role="button">Download Fuel UX</a>
    <!--<a href="{{ site.download.dist }}" class="btn btn-lg btn-outline" role="button">Download Fuel UX</a>-->
  </div>
  <div class="col-sm-4">
    <h3 id="download-source">Source code</h3>
    <p>All files--although cloning this git repository is recommended.</p>
    <a href="#" class="btn btn-lg btn-outline" role="button">Download source</a>
    <!--<a href="{{ site.download.source }}" class="btn btn-lg btn-outline" role="button">Download source</a>-->
  </div>
</div>

  <p class="muted">Currently v{{ site.current_version }}.</p>

<a id="download-list"></a>

<!-- BEGIN FROM GITHUB README.md -->

<p>Fuel UX can be obtained one of three ways:</p>

<ol class="task-list">
<li>
<p><strong>Best way:</strong> Install with a dependency manager:</p>

<p>Using <a href="https://github.com/bower/bower">Bower</a>:</p>

<pre><code>bower install fuelux
</code></pre>

<p>Update with <code>bower update fuelux</code>.</p>

<p>Using <a href="https://github.com/volojs/volo">Volo</a>:</p>

<pre><code>volo add fuelux
</code></pre>

<p>Update with <code>volo add -f fuelux</code>.</p>

<p>This ensures you get all the <a href="#dependencies">dependencies</a>.</p>
</li>
<li>
<p><strong>Another good way:</strong> Clone the Git repository:</p>

<pre><code>git clone https://github.com/ExactTarget/fuelux/
</code></pre>

<p>Cloning the repository ensures you can apply future updates to FuelUX easily, but requires to you manage its <a href="#dependencies">dependencies</a> on your own.</p>
</li>
<li>
<p><strong>Also an option:</strong> Download a .zip archive of the latest release <strong>(needthis)</strong> or request files from <a href="http://www.fuelcdn.com/fuelux/">the FuelUX CDN</a>.</p>

<p><em>Note: Using FuelUX in this way can make updating to future releases difficult. This approach is not recommended.</em></p>
</li>
</ol>

<!-- END FROM GITHUB README.md -->


  <h3 id="download-cdn">Fuel UX CDN</h3>
  <p>ExactTarget hosts Fuel UX on it's <a href="http://www.fuelcdn.com/">FuelCDN.</a> Just use these <a href="http://www.fuelcdn.com/fuelux-resources">Fuel CDN</a> links.</p>
{% highlight html %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ site.cdn.css }}">

<!-- Optional theme -->
<link rel="stylesheet" href="{{ site.cdn.css_theme }}">

<!-- Latest compiled and minified JavaScript -->
<script src="{{ site.cdn.js }}"></script>
{% endhighlight %}

  <h3 id="download-bower">Install with Bower</h3>
  <p>Install and manage Fuel UX's Less, CSS, JavaScript, and fonts using <a href="http://bower.io">Bower</a>.</p>
  {% highlight bash %}$ bower install fuelux{% endhighlight %}

<h3>
<a name="user-content-whats-included" class="anchor" href="#whats-included"><span class="octicon octicon-link"></span></a>What's included</h3>

<p class="lead">FuelUX is downloadable in four forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>

  <div class="bs-callout bs-callout-warning" id="jquery-required">
    <h4>jQuery and Bootstrap 3 required</h4>
    <p>FuelUX is dependent upon <a href="https://github.com/twbs/bootstrap">Bootstrap 3</a> and <a href="https://github.com/jquery/jquery">jQuery</a>. If you installed by cloning the repo or by downloading a .zip archive, you'll also want to grab these things, as, it just won't work without them.</p>
  </div>

<p>A download of FuelUX provides the following directories and files, which are grouped according to file type:</p>

<pre><code>fuelux/
├── css/
│   ├── fuelux.css
│   ├── fuelux.min.css
├── js/
│   ├── fuelux.js
│   └── fuelux.min.js
└── fonts/
    ├── fuelux.eot
    ├── fuelux.svg
    ├── fuelux.ttf
    └── fuelux.woff
</code></pre>

<p>We provide compiled CSS and JS (like <code>fuelux.*</code>), as well as compiled and minified CSS and JS (like <code>fuelux.min.*</code>) in the <code>dist</code> folder.</p>

</div>

<!-- Template
================================================== -->
<div class="fu-docs-section">
  <h1 id="template" class="page-header">Basic template</h1>

  <p class="lead">Start with this basic HTML template. It uses browser global variables (just like Bootstrap).</p>

  <p>Copy the HTML below to begin working with a minimal FuelUX document using browser globals.</p>
{% highlight html %}
{% include getting-started-globals-template.html %}
{% endhighlight %}

  <p>The FuelUX team uses and recommends AMD modules (with a manager such as <a href="requirejs.org">require.js</a>) and bundling for production.</p>

  <p>Copy the HTML below to begin working with the Asynchronous Module Definition (AMD) files.</p>
{% highlight html %}
{% include getting-started-amd-template.html %}
{% endhighlight %}


<!-- BEGIN FROM GITHUB README.md -->

<h3>
<a name="user-content-umdamd-support" class="anchor" href="#umdamd-support"><span class="octicon octicon-link"></span></a>UMD/AMD Support</h3>

<p>We recommend only loading the controls you need (eg <code>fuelux/checkbox</code>).</p>

<p>If using AMD (such as <a href="http://require.js.org">RequireJS</a>), reference the FuelUX directory in your paths configuration, wherever it is located:</p>

<div class="highlight highlight-javascript"><pre><span class="nx">require</span><span class="p">.</span><span class="nx">config</span><span class="p">({</span>
    <span class="nx">paths</span><span class="o">:</span> <span class="p">{</span>
        <span class="s1">'fuelux'</span><span class="o">:</span> <span class="s1">'http://www.fuelcdn.com/fuelux/3.0.0/'</span>
        <span class="c1">//...</span>
    <span class="p">}</span>
<span class="p">});</span>
</pre></div>

<p>Then list any individual fuelux controls needed as dependencies within your application modules:</p>

<div class="highlight highlight-javascript"><pre><span class="nx">define</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">require</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">spinbox</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'fuelux/spinbox'</span><span class="p">);</span>
    <span class="c1">//...</span>
<span class="p">});</span>
</pre></div>

<p>For your convenience when you are using AMD, you can just use <code>fuelux/all</code> instead of listing each module individually, but this is not recommended.</p>

<p>FuelUX also supports placing components in their own <code>&lt;script&gt;</code> tags. Be sure to put modules in the correct order if loading them in this method (although this order is a secret known only to 29th level wizards/enchantresses and 11th degree JS ninjas).</p>

</div>

<div class="fu-docs-section">

  <h1 id="bugs">Bugs and feature requests</h1>

  <p>Have a bug or a feature request? Please first review the <a href="https://github.com/ExactTarget/fuelux/issues">open issues</a>, then search for existing and closed issues. If your problem or idea is not addressed yet, <a href="https://github.com/ExactTarget/fuelux/issues/new">please open a new issue</a>.</p>

  <p>You can visit <a href="https://code.exacttarget.com/tag/fuel-ux">questions tagged FuelUX</a> in the ExactTarget Developer Community and search <a href="http://stackoverflow.com/questions/tagged/fuelux">FuelUX tagged questions on StackOverflow</a>.</p>

  <p>You can also visit <a href="https://fuelux.uservoice.com">UserVoice community</a> and post a comment or suggest features. We will maintain of backlog of feature we are considering developing in a <a href="https://github.com/ExactTarget/fuelux/blob/3.0.0-wip/BACKLOG.md">backlog</a>.</p>

  <h3>
  <a name="user-content-previous-releases" class="anchor" href="#previous-releases"><span class="octicon octicon-link"></span></a>Previous releases</h3>

  <p>Documentation for v2.6.x has been made available for the time being at <strong>(need link)</strong> while folks transition to Bootstrap 3. Previous releases and their documentation are also available for download. <strong>(need link)</strong></p>

</div>


<div class="fu-docs-section">

  <h1 id="contributing">Contributing</h1>

  <p class="lead">Stay up to date on the development of FuelUX and reach out to others in the community with these helpful resources.</p>

  <p>Before writing code, we suggest you <a href="https://github.com/ExactTarget/fuelux/issues?state=open">search for issues</a> or <a href="https://github.com/ExactTarget/fuelux/issues/new">create a new one</a> to confirm where your contribution fits into
  our roadmap.</p>

  <p>In lieu of a formal style guide, take care to maintain the existing coding style: tabs, clarity over brevity, declarative markup, semicolons, etc. Be sure to add unit tests for any new or changed functionality. Lint and test your code using <a href="https://github.com/cowboy/grunt">grunt</a>.</p>

  <p>Read more about <a href="https://github.com/ExactTarget/fuelux/wiki/Contributing-to-Fuel-UX">contributing to FuelUX</a></p>

  <p>Please do not edit files in the <code>dist</code> directory as they are generated via grunt. You'll find source code in the respective <code>js</code>, <code>less</code>, and <code>fonts</code> directory.</p>

  <p>While grunt can run the included unit tests via PhantomJS, this isn't a substitute for running tests across a variety of browsers and environments. Please be sure to view the test page at <a href="http://localhost:8000/test/">http://localhost:8000/test/</a> in as many of the browsers listed in <code>sauce_browsers.yml</code> as you can before contributing.</p>

</div>

<!-- END FROM GITHUB README.md -->


<!-- Browser support
================================================== -->
<div class="bs-docs-section">
  <h1 id="support" class="page-header">Browser and device support (needs updating)</h1>
  <p class="lead">FuelUX is built to work best in the latest desktop and mobile browsers, meaning older browsers might display differently styled, though fully functional, renderings of most components.</p>

  <h3 id="support-browsers">Supported browsers</h3>
  <p>Specifically, we support the <strong>latest versions</strong> of the following browsers and platforms. On Windows, <strong>we support Internet Explorer 8-11</strong>. More specific support information is provided below.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td></td>
          <th>Chrome</th>
          <th>Firefox</th>
          <th>Internet Explorer</th>
          <th>Opera</th>
          <th>Safari</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Android</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
          <td class="text-muted" rowspan="3" style="vertical-align: middle;">N/A</td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
          <td class="text-muted">N/A</td>
        </tr>
        <tr>
          <th>iOS</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-muted">N/A</td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
        </tr>
        <tr>
          <th>Mac OS X</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
        </tr>
        <tr>
          <th>Windows</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="sr-only">Supported</span></td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Not Supported</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Unofficially, FuelUX should look and behave well in Chromium and Chrome for Linux, Firefox for Linux, though they are not officially supported.</p>

  <h3 id="support-ie8-ie9">Internet Explorer 8 and 9</h3>
  <p>Internet Explorer 8 and 9 are also supported, however, please be aware that some CSS3 properties and HTML5 elements are not fully supported by these browsers. In addition, Internet Explorer 8 requires the use of fixed-width columns and containers due to its lack of media-query support. You may try using <a href="http://modernizr.com/">Modernizr</a> or conditional comments like <code>&lt;!--[if IE 8]&gt;</code> to cascade fixed-width containers.</p>

  <p>Visit <a href="http://caniuse.com/">Can I use...</a> for details on browser support of CSS3 and HTML5 features.</p>

</div>