body {
	padding-bottom: 200px;
}

.pillbox {
	border: 1px solid #bbb;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.container > div, .container > table {
	margin: 20px;
}

.tree {
	width: 430px;
	height: 350px;
}

.static-loader {
	margin-left: 30px;
}

.search-form {
	width: 300px;
}

.wizard .sample-pane {
	margin-bottom: 0;
}

.wizard .alert {
	margin-bottom: 0;
}