---
layout: default
title: Controls
slug: javascript
lead: "Over a dozen jQuery plugins such as data repeaters, datepickers, pillboxes, trees, wizards, and much more."
---

{% include javascript-overview.html %}


{% include js/checkbox.html %}

{% include js/combobox.html %}

{% include js/datepicker.html %}

{% include js/infinite-scroll.html %}

{% include js/loader.html %}

{% include js/pillbox.html %}

{% include js/placard.html %}

{% include js/radio.html %}

{% include js/repeater.html %}

{% include js/scheduler.html %}

{% include js/search.html %}

{% include js/selectlist.html %}

{% include js/spinbox.html %}

{% include js/tree.html %}

{% include js/wizard.html %}