	<section id="checkboxes">
		<h2>Checkbox</h2>
		<div class="thin-box">
			<section>
				{{#each checkboxen}}
					{{> checkbox this}}
				{{/each}}
			</section>
			<section id="checkboxes-inline">
				{{#each inlinecheckboxen}}
					{{> checkbox this}}
				{{/each}}
			</section>
		</div>
	</section>
