<!-- combobox
================================================== -->
<div class="fu-docs-section">
  <h1 id="comboboxes" class="page-header">Comboboxes <small>combobox.js</small></h1>
  <h2 id="comboboxes-examples">Examples</h2>
  <p>Combines an input and a drop-down for easy and flexible data selection.</p>
  <div class="fu-example section">
{% include js/combobox-example.html %}
  </div><!-- /example -->

{% highlight html %}
<div id="MyCombobox" class="input-group input-append dropdown combobox" data-initialize="combobox">
  <input type="text" class="form-control">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li data-value="1"><a href="#">One</a></li>
    <li data-value="2"><a href="#">Two</a></li>
    <li data-value="3"><a href="#">Three</a></li>
    <li data-value="4" ><a href="#">Four</a></li>
    <li data-value="Item Five"><a href="#">Item Five</a></li>
    <li data-value="6" data-foo="bar" data-fizz="buzz"><a href="#">Six</a></li>
  </ul>
  </div>
</div>
{% endhighlight %}

  <h3 id="comboboxes-alignment">Alignment</h3>
  <p>By default, this control automatically positions a drop-down menu 100% from the top and along the right side of its parent. Remove <code>.dropdown-menu-right</code> to left align the drop-down menu.</p>

  <h2 id="comboboxes-usage">Usage</h2>

  <p>The combobox component toggles hidden content (drop-down menus) by toggling the <code>.open</code> class on the parent list item. When opened, the plugin also adds <code>.dropdown-backdrop</code> as a click area for closing drop-down menus when clicking outside the menu. The control relies on the <code>data-toggle=dropdown</code> attribute to close drop-down menus at an application level.</p>

  <h3>Via data-attributes</h3>
  <p>The combobox will automatically instantiate any comboboxes with <code>data-initialize="combobox"</code>. If you add the control markup <i>after page load</i> with <code>data-initialize="combobox"</code>, this control will initialize on <code>mousedown</code>.

  <h3>Via JavaScript</h3>
  <p>Call the combobox control via JavaScript:</p>
  {% highlight js %}$('#MyCombobox').combobox();{% endhighlight %}


  <h3>Markup</h3>
  <p>Add <code>class="combobox"</code> to an input and a drop-down within a <code>class="fuelux"</code> container.</p>
{% highlight html %}
<div class="input-group input-append dropdown combobox">
  <input type="text" class="form-control">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-right">
    ...
  </ul>
  </div>
</div>
{% endhighlight %}

  <h3>Scripting</h3>

  <p>The following sample includes the JavaScript associated with the examples above.</p>

  <div class="truncate-highlight">
  {% highlight js %}
{% include js/combobox-examples.js %}
  {% endhighlight %}
  </div>

  <h3>Options</h3>
  <p>You can pass options via data attributes or JavaScript. For data attributes, append the option name to <code>data-</code>, as in <code>data-selected=""</code>.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
       <tr>
         <th style="width: 100px;">Name</th>
         <th style="width: 100px;">type</th>
         <th style="width: 50px;">default</th>
         <th>description</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>selected</td>
         <td>boolean</td>
         <td>false</td>
         <td>Declare value to initialize with</td>
       </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->
  
  <h3>Methods</h3>
  <h4>$().combobox(options)</h4>
  Attaches a combobox to an input and a drop-down menu
  
  <h4>.combobox('destroy')</h4>
  <p>Removes all functionality, jQuery data, and the markup from the DOM. Returns string of control markup.</p>
  {% highlight js %}$('#element').combobox('destroy');{% endhighlight %}

  <h4>.combobox('disable')</h4>
  <p>Disables the component</p>
  {% highlight js %}$('#element').combobox('disable'){% endhighlight %}

  <h4>.combobox('enable')</h4>
  <p>Enables the component</p>
  {% highlight js %}$('#element').combobox('enable'){% endhighlight %}

  <h4>.combobox('selectedItem')</h4>
  <p>Returns an object containing the jQuery data() contents of the selected item which includes <code>.data-*</code> attributes plus a text property with the visible text from the item</p>
  {% highlight js %}$('#element').combobox('selectedItem'){% endhighlight %}

  <h4>.combobox('selectByIndex')</h4>
  <p>Set the selected item based on its index in the list (zero-based index). Convenience method for <code>.selectBySelector('li:eq({index})')</code></p>
  {% highlight js %}$('#element').combobox('selectByIndex', '1'){% endhighlight %}

  <h4>.combobox('selectByText')</h4>
  <p>Set the selected item based on its text value</p>
  {% highlight js %}$('#element').('selectByText', 'Four'){% endhighlight %}

  <h4>.combobox('selectBySelector')</h4>
  <p>Set the selected item based on a selector</p>
  {% highlight js %}$('#element').('selectBySelector', 'li[data-fizz=buzz]'){% endhighlight %}

  <h4>.combobox('selectByValue')</h4>
  <p>Set the selected item based on its value. Convenience method for <code>.selectBySelector('data-value={value}')</code> that requires the item to include a <code>.data-value="{value}"</code> attribute</p>
  {% highlight js %}$('#element').('selectByValue', '1'){% endhighlight %}

  <h3>Events</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Event Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>changed.fu.combobox</td>
          <td>This event fires when the value changes (either by selecting an item from the list or updating the input value directly). Arguments include <code>event, data</code> where data represents the same object structure returned by the <code>selectedItem</code> method.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->
  <p>All drop-down events are fired at the parent element for <code>.dropdown</code>.</p>
{% highlight js %}
$('#MyCombobox').on('changed', function () {
  // do something…
});
{% endhighlight %}
</div>
