<div id="MyPlacard1" class="placard" data-initialize="placard">
	<div class="placard-popup"></div>
	<input class="form-control placard-field" type="text" placeholder="[Field label]"/>
</div>

<br/>

<div id="MyPlacard2" class="placard" data-initialize="placard" data-ellipsis="true">
	<div class="placard-popup"></div>
	<div class="placard-header"><h5>Field label</h5></div>
	<input class="form-control placard-field" type="text" placeholder="[Field label]"/>
	<div class="placard-footer">
		<button class="btn btn-primary btn-xs placard-accept" type="button">Save</button>
		<a class="placard-cancel" href="#">Cancel</a>
	</div>
</div>

<br/>

<div id="MyPlacard3" class="placard" data-initialize="placard" data-ellipsis="true">
	<div class="placard-popup"></div>
	<div class="placard-header"><h5>Field label</h5></div>
	<textarea class="form-control placard-field glass" placeholder="[Field label]"></textarea>
	<div class="placard-footer">
		<button class="btn btn-primary btn-xs placard-accept" type="button">Save</button>
		<a class="placard-cancel" href="#">Cancel</a>
	</div>
</div>

<br/>
<h5>Sample Methods</h5>
<div class="btn-group">
<button class="btn btn-default" id="btnPlacardDestroy">destroy and append</button>
</div>