<!-- radio
================================================== -->
<div class="bs-docs-section">
	<h1 id="radios" class="page-header">Radios <small>radios.js</small></h1>

	<h2 id="radios-examples">Examples</h2>
	<p>Customized look and feel for radio button element.</p>

	<h4>Default (stacked)</h4>
	<div class="bs-example">
		<div class="radio">
			<label class="radio-custom">
				<input name="radioEx1" type="radio" value="option1">
				Browser-independent radio unchecked on page load
			</label>
		</div>
		<div class="radio">
			<label class="radio-custom">
				<input checked="checked" name="radioEx1" type="radio" value="option2">
				Browser-independent radio checked on page load
			</label>
		</div>
		<div class="radio">
			<label class="radio-custom">
				<input disabled="disabled" name="radioEx2" type="radio" value="option3">
				Disabled browser-independent radio unchecked on page load
			</label>
		</div>
	</div>
{% highlight html %}
<div class="radio">
	<label class="radio-custom">
		<input name="radioEx1" type="radio" value="option1">
		Browser-independent radio unchecked on page load
	</label>
</div>
<div class="radio">
	<label class="radio-custom">
		<input checked="checked" name="radioEx1" type="checkbox" value="option2">
		Browser-independent radio checked on page load
	</label>
</div>
<div class="radio">
	<label class="radio-custom">
		<input disabled="disabled" name="radioEx2" type="checkbox" value="option3">
		Disabled browser-independent radio unchecked on page load
	</label>
</div>
{% endhighlight %}

	<h4>Inline radio</h4>
	<p>Use the <code>.radio-inline</code> classes on radios for controls that appear on the same line.</p>
	<div class="bs-example">
		<label class="radio-custom radio-inline">
			<input name="radioEx2" type="radio" value="option1"> 1
		</label>
		<label class="radio-custom radio-inline">
			<input checked="checked" name="radioEx2" type="radio" value="option2"> 2
		</label>
		<label class="radio-custom radio-inline">
			<input disabled="disabled" name="radioEx2" type="radio" value="option3"> 3
		</label>
	</div>
{% highlight html %}
<label class="radio-custom radio-inline">
	<input name="radioEx2" type="radio" value="option1"> 1
</label>
<label class="radio-custom radio-inline">
	<input checked="checked" name="radioEx2" type="radio" value="option2"> 2
</label>
<label class="radio-custom radio-inline">
	<input disabled="disabled" name="radioEx2" type="radio" value="option3"> 3
</label>
{% endhighlight %}

	<h4>Element toggling radios</h4>
	<p>Use the <code>data-toggle="{{selector}}"</code> to automatically show/hide elements matching the selector within the body upon check/uncheck.
		<br/>(works with any <a href="http://api.jquery.com/category/selectors/">jQuery selector</a>)
	</p>
	<div class="bs-example">
		<div class="radio">
			<label class="radio-custom">
				<input data-toggle="#radioToggleID" name="radioEx3" type="radio" value="option1">
				Toggles element with matching id.
			</label>
		</div>
		<label class="radio-custom radio-inline">
			<input data-toggle=".radioToggleCLASS" name="radioEx3" type="radio" value="option1">
			Toggles elements with matching class.
		</label>

		<div class="alert bg-info" id="radioToggleID" style="display: none;">Id toggling container.</div>
		<div class="alert bg-success radioToggleCLASS" style="display: none;">Class toggling container.</div>
		<div class="alert bg-success radioToggleCLASS" style="display: none;">Class toggling container.</div>
	</div>
{% highlight html %}
<div class="radio">
	<label class="radio-custom">
		<input data-toggle="#radioToggleID" name="radioEx3" type="radio" value="option1">
		Toggles element with matching id.
	</label>
</div>
<label class="radio-custom radio-inline">
	<input data-toggle=".radioToggleCLASS" name="radioEx3" type="radio" value="option1">
	Toggles elements with matching class.
</label>

<div class="alert bg-info" id="radioToggleID" style="display: none;">Id toggling container.</div>
<div class="alert bg-success radioToggleCLASS" style="display: none;">Class toggling container.</div>
<div class="alert bg-success radioToggleCLASS" style="display: none;">Class toggling container.</div>
{% endhighlight %}

	<h4>Highlighting radios</h4>
	<p>Use the <code>.highlight</code> class to add a background highlight upon check.
	</p>
	<div class="bs-example">
		<div class="radio highlight">
			<label class="radio-custom">
				<input name="radioEx4" type="radio" value="option1">
				This block-level radio will be highlighted on check.
			</label>
		</div>
		<label class="radio-custom radio-inline highlight">
			<input name="radioEx4" type="radio" value="option2">
			This inline radio will be highlighted on check.
		</label>
	</div>
{% highlight html %}
<div class="radio highlight">
	<label class="radio-custom">
		<input name="radioEx4" type="radio" value="option1">
		This block-level radio will be highlighted on check.
	</label>
</div>
<label class="radio-custom radio-inline highlight">
	<input name="radioEx4" type="radio" value="option2">
	This inline radio will be highlighted on check.
</label>
{% endhighlight %}

	<h2 id="radios-usage">Usage</h2>
	<p>Upon page load, the radio code will automatically instantiate any radios with class <code>.custom-radio</code> on the page, allowing them to function without any additional code. However, if added after page load they will need to be manually instantiated via javascript.</p>

	<p>Initialize the radio manually via JavaScript:</p>
	{% highlight js %}$('#MyRadio').radio();{% endhighlight %}

	<h3>Methods</h3>
	<h4>$().radio();</h4>
	Activates your content as a custom radio.

	<h4>.check()</h4>
	<p>Checks the radio.</p>
	{% highlight js %}$('#element').radio('check');{% endhighlight %}

	<h4>.disable()</h4>
	<p>Disables the radio.</p>
	{% highlight js %}$('#element').radio('disable');{% endhighlight %}

	<h4>.enable()</h4>
	<p>Enables the radio.</p>
	{% highlight js %}$('#element').radio('enable');{% endhighlight %}

	<h4>.isChecked()</h4>
	<p>Returns <code>true</code> or <code>false</code> depending on whether the radio is checked.</p>
	{% highlight js %}$('#element').radio('isChecked');{% endhighlight %}

	<h4>.uncheck()</h4>
	<p>Unchecks the radio.</p>
	{% highlight js %}$('#element').radio('uncheck');{% endhighlight %}
</div>
