<!-- scheduler
================================================== -->
<div class="fu-docs-section">
  <h1 id="scheduler" class="page-header">Scheduler <small>scheduler.js</small></h1>

  <h2 id="scheduler-examples">Examples</h2>
  <p>Create a time object with support for start date/time, timezone and iCal-compatible reccurance patterns.</p>

  <h3>Static example</h3>
  <p>A scheduler with start date/time, timezone, and all recurrance and recurrance end options. All options do not show simutaneously in the live demo further along in this document.</p>
  <div class="fu-example fu-example-scheduler">
    <fieldset id="MySchedulerStatic" class="form-horizontal container-fluid scheduler" role="form">
    {% include js/scheduler-example.html %}
    </fieldset>
  </div><!-- /example -->

  <h3>Live demo</h3>
  <div class="fu-example section">
    <div id="MyScheduler" class="form-horizontal container-fluid scheduler" data-initialize="scheduler" role="form">
    {% include js/scheduler-example.html %}
    </div>

    <br/>
    <h5>Sample Methods</h5>
    <div class="btn-group">
        <button class="btn btn-default" id="btnSchedulerEnable">enable</button>
        <button class="btn btn-default" id="btnSchedulerDisable">disable</button>
        <button class="btn btn-default" id="btnSchedulerLogValue">log value</button>
        <button class="btn btn-default" id="btnSchedulerSetValue">set value to the following schedule</button>
        <button class="btn btn-default" id="btnSchedulerDestroy">destroy and append</button>
    </div>
    <br/>
    <br/>
    <pre>startDateTime: '2014-03-31T03:23+02:00',
timeZone: {
name: 'Namibia Standard Time',
  offset: '+02:00'
},
recurrencePattern: 'FREQ=MONTHLY;INTERVAL=6;BYDAY=WE;BYSETPOS=3;UNTIL=20140919;'</pre>
  </div><!-- /example -->


  <h2 id="scheduler-usage">Usage</h2>

  <p>A scheduler can return a time object with a <code>startDateTime</code>, a <code>timeZone</code>, and a<code>recurrencePattern</code></p>

  <h3>Via data-attributes</h3>
  <p>The scheduler will automatically instantiate any schedulers with <code>data-initialize="scheduler"</code>. If the control markup is added <i>after page load</i> with <code>data-initialize="scheduler"</code>, this control will be initialized on <code>mousedown</code>.

  <h3>Via JavaScript</h3>
  <p>Call the scheduler control via JavaScript:</p>
  {% highlight js %}$('#Myscheduler').scheduler();{% endhighlight %}

  <h3>Markup</h3>
  <p>Wrap <code>class="scheduler"</code> around a start date/time, a timezone, and a recurrance pattern within a <code>class="fuelux"</code> container.</p>

  <div class="truncate-highlight">
    {% highlight html %}
  <div id="MyScheduler" class="form-horizontal container-fluid scheduler" data-initialize="scheduler" role="form">
    {% include js/scheduler-example.html %}
  </div>
    {% endhighlight %}
  </div>

  <h3>Data Attribute Options</h3>
  <p>Please refer to the component dependencies:   <a href="#combobox">combobox</a>, <a href="#datepicker">datepicker</a>, <a href="#radio">radio</a>, <a href="#selectlist">selectlist</a>, <a href="#spinbox">spinbox</a>.</p>

  <h3>Methods</h3>
  <h4>$().scheduler()</h4>
  Attaches scheduler to a list of steps, navigation, and content.
  
  <h4>.scheduler('destroy')</h4>
  <p>Removes all functionality, jQuery data, and the markup from the DOM. Returns string of control markup.</p>
  {% highlight js %}$('#element').scheduler('destroy');{% endhighlight %}

  <h4>.scheduler('disable')</h4>
  <p>Disable all scheduler form fields</p>
  {% highlight js %}$('#element').scheduler('disable');{% endhighlight %}

  <h4>.scheduler('enable')</h4>
  <p>Enables all scheduler form fields</p>
  {% highlight js %}$('#element').scheduler('enable');{% endhighlight %}

  <h4>.scheduler('value')</h4>
  <p>Gets the current scheduler form field information or sets it, depending on arguments present.</p>
{% highlight js %}
$('myScheduler').scheduler('value');
{% endhighlight %}

  <h5>Setter Method</h5>
  <p>Use <code>'value'</code> while passing an object following the structure listed below as the second parameter.</p>
{% highlight js %}
$('myScheduler').scheduler('value', {
  startDateTime: '2014-03-31T03:23+02:00',
  timeZone: {
  name: 'Namibia Standard Time',
    offset: '+02:00'
  },
  recurrencePattern: 'FREQ=MONTHLY;INTERVAL=6;BYDAY=WE;BYSETPOS=3;UNTIL=20140919;'
});
{% endhighlight %}

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Parameter</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>startDateTime</td>
          <td><i>Required.</i> string representing the start date &amp; time in ISO 0861 format.</td>
        </tr>
        <tr>
          <td>timeZone</td>
          <td>Object containing the time zone name and offset.</td>
        </tr>
        <tr>
          <td><i>recurrencePattern</i></td>
          <td><i>Optional</i> string representing the iCal recurrence value</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->

  <h3>Events</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Event Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>changed.fu.scheduler</td>
          <td>This event is fired when the step has changed and is shown to the user.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->
{% highlight js %}
$('#MyScheduler').on('changed', function () {
  // do something
});
{% endhighlight %}

<h3 id="scheduler-dependencies">Fuel UX Dependencies</h3>
<ul>
  <li><a href="#comboboxes">Combobox</a></li>
  <li><a href="#datepickers">Datepicker</a></li>
  <li><a href="#radios">Radio</a></li>
  <li><a href="#selectlists">Selectlist</a></li>
  <li><a href="#spinboxes">Spinbox</a></li>
</ul>

</div>