<!-- scheduler
================================================== -->
<div class="fu-docs-section">
  <h1 id="scheduler" class="page-header">Scheduler <a href="{{ site.repo }}/blob/{{ site.current_version }}/js/scheduler.js"><small>scheduler.js</small></a></h1>

  <p>Create a time object with support for start date and time, timezone and iCal-compatible reccurance patterns.</p>
  <div class="form-horizontal container-fluid scheduler" data-initialize="scheduler" role="form" id="schedulerIllustration">
  {% include js/scheduler-example.html %}
  </div>


  <h2 id="scheduler-usage">Usage</h2>
  <!-- TODO: evaluate this line, it seems very out of place... -->
  <p>A scheduler can return a time object with a <code>startDateTime</code>, a <code>timeZone</code>, and a<code>recurrencePattern</code></p>

  <h3 id="scheduler-usage-javascript">Via JavaScript</h3>
  <p>Call the scheduler control via JavaScript:</p>
  {% highlight js %}$('#myscheduler').scheduler();{% endhighlight %}

  <h3 id="scheduler-usage-data-attributes">Via data-attributes</h3>
  <p>To enable the scheduler control without writing JavaScript, add <code>data-initialize="scheduler"</code> to the <code>.scheduler</code> element that you wish to initialize. Such elements that exist when <code>$.ready()</code> executes will be initialized. Any scheduler markup that is programmatically created with <code>data-initialize="scheduler"</code> sometime after the initial page load will not immediately initialize. Rather, it will initialize when the <code>mousedown</code> event is fired on it.</p>


  <h3 id="scheduler-usage-markup">Markup</h3>
  <p>Wrap <code>class="scheduler"</code> around a start date and time, a timezone, and a recurrance pattern within a <code>class="fuelux"</code> container.</p>

  <div class="truncate-highlight">
    {% highlight html %}
<div class="form-horizontal container-fluid scheduler" data-initialize="scheduler" role="form" id="myScheduler">
    {% include js/scheduler-example.html %}
</div>
    {% endhighlight %}
  </div>

  <h3 id="scheduler-usage-options">Options</h3>
  <p>Pass options via JavaScript upon initialization.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th style="width: 100px;">Name</th>
        <th style="width: 100px;">type</th>
        <th style="width: 50px;">default</th>
        <th>description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>startDateOptions</td>
        <td>object</td>
        <td>{}</td>
        <td>Attributes used to configure the datepicker object. All options for datepicker are avaibable and they can
          be found in the <a href="#datepicker-usage-options">datepicker documentation</a>.</td>
      </tr>
      <tr>
        <td>endDateOptions</td>
        <td>object</td>
        <td>{}</td>
        <td>This option can be set but will only be used if the event is repeated. Attributes used to configure the datepicker object.
          All options for datepicker are avaibable and they can
          be found in the <a href="#datepicker-usage-options">datepicker documentation</a>.</td>
      </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->

  <h3 id="scheduler-usage-methods">Methods</h3>
  <dl>
    <dt id="scheduler-usage-methods-destroy">.scheduler('destroy')</dt>
    <dd>Removes all functionality, jQuery data, and the markup from the DOM. Returns string of control markup.</dd>

    <dt id="scheduler-usage-methods-disable">.scheduler('disable')</dt>
    <dd>Ensure all scheduler form fields are disabled</dd>

    <dt id="scheduler-usage-methods-enable">.scheduler('enable')</dt>
    <dd>Ensure all scheduler form fields are enabled</dd>

    <dt id="scheduler-usage-methods-value">.scheduler('value')</dt>
    <dd>Gets or sets the current scheduler form field information
  {% highlight js %}$('#myScheduler').scheduler('value');{% endhighlight %}
  {% highlight js %}$('#myScheduler').scheduler('value', {
  startDateTime: '2014-03-31T03:23+02:00',
  timeZone: {
    offset: '+02:00'
  },
  recurrencePattern: 'FREQ=MONTHLY;INTERVAL=6;BYDAY=WE;BYSETPOS=3;UNTIL=20140919;'
});{% endhighlight %}

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 150px;">Parameter</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>startDateTime</td>
              <td><em>Required.</em> String representing the start date &amp; time in <a href="http://www.w3.org/TR/NOTE-datetime">ISO 8601 format</a>.</td>
            </tr>
            <tr>
              <td>timeZone</td>
              <td><em>Optional.</em> <code>String</code> or <code>Object</code> (as <code>{name: 'value'}</code> or <code>{offset: '+00:00'}</code>) used for method call to <a href="#selectlist-usage-methods-select-by-selector"><code>selectBySelector()</code></a> on <a href="#scheduler"><code>scheduler</code></a>'s Timezone <a href="#selectlist"><code>selectList</code></a>. Whatever is passed in will be passed along to <a href="#selectlist-usage-methods-select-by-selector">selectlist.selectBySelector(value)</a>. If a <code>String</code> is passed, it will be passed along <em>as-is</em>. If an <code>Object</code> is passed, <code>name</code> will be passed along if present, otherwise <code>offset</code> will be passed along <strong><em>but never both</em></strong>.</td>
            </tr>
            <tr>
              <td><em>recurrencePattern</em></td>
              <td><em>Optional.</em> String representing the <a href="http://www.kanzaki.com/docs/ical/recur.html">iCal recurrence value</a>.</td>
            </tr>
          </tbody>
        </table>
      </div><!-- ./fu-table-responsive -->
    </dd>
  </dl>

  <h3 id="scheduler-usage-events">Events</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Event Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>changed.fu.scheduler</td>
          <td>This event fires when the user changes any setting.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->
  <p>All scheduler events are fired on the <code>.scheduler</code> classed element.</p>
  {% highlight js %}$('#myScheduler').on('changed.fu.scheduler', function () {
  // do something
});{% endhighlight %}

  <h3 id="scheduler-dependencies">Fuel UX Dependencies</h3>
  <ul>
    <li><a href="#combobox">Combobox</a></li>
    <li><a href="#datepicker">Datepicker</a></li>
    <li><a href="#radio">Radio</a></li>
    <li><a href="#selectlist">Selectlist</a></li>
    <li><a href="#spinbox">Spinbox</a></li>
  </ul>

  <h2 id="scheduler-examples">Examples</h2>
  <p>Create a time object with support for start date and time, timezone and iCal-compatible reccurance patterns.</p>

  <h3 id="scheduler-examples-static">Static example</h3>
  <p>A scheduler with start date and time, timezone, and all recurrance and recurrance end options. All options do not show simutaneously in the live demo further along in this document.</p>
  <div class="fu-example fu-example-scheduler">
    <fieldset id="mySchedulerStatic" class="form-horizontal container-fluid scheduler" role="form">
    {% include js/scheduler-example.html %}
    </fieldset>
  </div><!-- /example -->

  <h3 id="scheduler-examples-live-demo">Live demo</h3>
  <div class="fu-example section">
    <div class="form-horizontal container-fluid scheduler" data-initialize="scheduler" role="form" id="myScheduler">
    {% include js/scheduler-example.html %}
    </div>

    <br/>
    <h5>Sample Methods</h5>
    <div class="btn-group">
        <button class="btn btn-default" id="btnSchedulerEnable">enable</button>
        <button class="btn btn-default" id="btnSchedulerDisable">disable</button>
        <button class="btn btn-default" id="btnSchedulerLogValue">log value</button>
        <button class="btn btn-default" id="btnSchedulerSetValue">set value to the following schedule</button>
        <button class="btn btn-default" id="btnSchedulerDestroy">destroy and append</button>
    </div>

  </div><!-- /example -->
</div>
