<!-- search
================================================== -->
<div class="fu-docs-section">
  <h1 id="search" class="page-header">Search Box <small>search.js</small></h1>
  <p>Combines an input and a button to fire the <code>searched</code> event.</p>

  <h2 id="search-examples">Examples</h2>
  <p>Wrap the input and search button within <code>.fuelux .search</code></p>
  <div class="fu-example section">

      <form class="search-form" role="search" data-initalize="search">
        <div id="myFuSearch" class="search input-group">
          <input type="search" class="form-control" placeholder="Search"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
              <span class="sr-only">Search</span>
            </button>
          </span>
        </div>
      </form>

      <h5>Sample Methods</h5>
      <div class="btn-group">
        <button type="button" class="btn btn-default" id="btnSearchDisable" value="disable">disable</button>
        <button type="button" class="btn btn-default" id="btnSearchEnable" value="enable">enable</button>
      </div>

    </div>


{% highlight html %}
<form class="search-form" role="search" data-initalize="search">
  <div id="myFuSearch" class="search input-group">
    <input type="search" class="form-control" placeholder="Search"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
        <span class="sr-only">Search</span>
      </button>
    </span>
  </div>
</form>
{% endhighlight %}

  <h2 id="search-usage">Usage</h2>
  <p>This function includes a simple input and button group that styles with a search icon and fires the <code>searched</code> event.</p>

  <h3>Via data-attributes</h3>
  <p>The search will automatically instantiate any searches with <code>data-initialize="search"</code>. If you add the control markup <i>after page load</i> with <code>data-initialize="search"</code>, this control initializes on <code>mousedown</code>.

  <h3>Via JavaScript:</h3>
  <p>Call the search control via JavaScript:</p>
  {% highlight js %}$('#myFuSearch').search();{% endhighlight %}

  <h3>Markup</h3>
  <p>Wrap <code>class="search"</code> around an input and a button within a <code>class="fuelux"</code> container.</p>
{% highlight html %}
<div id="myFuSearch" class="search input-group">
  <input type="search" class="form-control" placeholder="Search"/>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">
      <span class="glyphicon glyphicon-search"></span>
      <span class="sr-only">Search</span>
    </button>
  </span>
</div>
{% endhighlight %}

  <h3>Methods</h3>
  <h4>$().search();</h4>
  Attaches search to an input and a button group

  <h4>.search('destroy')</h4>
  <p>Removes all functionality, jQuery data, and the markup from the DOM. Returns string of control markup.</p>
  {% highlight js %}$('#myFuScheduler').search('destroy');{% endhighlight %}
  
  <h4>.search('disable')</h4>
  <p>Disables the component</p>
  {% highlight js %}$('#myFuScheduler').search('disable');{% endhighlight %}

  <h4>.search('enable')</h4>
  <p>Enables the component</p>
  {% highlight js %}$('#myFuScheduler').search('enable');{% endhighlight %}

  <h3>Events</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Event Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>searched.fu.search</td>
          <td>This event fires when a user presses Enter within the input or clicks the button.</td>
        </tr>
        <tr>
          <td>cleared.fu.search</td>
          <td>This event fires when the user clears the input.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->
{% highlight js %}
$('#myFuSearchResults').on('searched', function () {
  // load search results
});
{% endhighlight %}

</div>
