<!-- wizard
================================================== -->
<div class="fu-docs-section">
  <h1 id="wizard" class="page-header">Wizard <small>wizard.js</small></h1>

  <h2 id="wizard-examples">Examples</h2>
  <p>Wrap the input and wizard button within <code>.fuelux .wizard</code></p>
  <div class="fu-example section">
    <div id="MyWizard" class="wizard" data-initialize="wizard">
      {% include js/wizard-example.html %}
    </div>

    <h5>Sample Methods</h5>
    <div class="btn-group">
      <button type="button" class="btn btn-default" id="btnWizardPrev">previous</button>
      <button type="button" class="btn btn-default" id="btnWizardNext">next</button>
      <button type="button" class="btn btn-default" id="btnWizardStep">log current step index</button>
      <button type="button" class="btn btn-default" id="btnWizardSetStep">jump to step 3 (recipients)</button>
      <button type="button" class="btn btn-default" id="btnWizardAddSteps">add step (setup)</button>
      <button type="button" class="btn btn-default" id="btnWizardRemoveStep">remove step (preview)</button>
      <button type="button" class="btn btn-default" id="btnWizardDestroy">destroy and append</button>
    </div>

  </div><!-- /example -->

<div class="truncate-highlight">
{% highlight html %}
<div class="wizard" data-initialize="wizard">
{% include js/wizard-example.html %}
</div>
{% endhighlight %}
</div>

  <h2 id="wizard-usage">Usage</h2>
  <p>A wizard divides a complex goal into multiple steps by separating sub-tasks or content into panes. You can add or remove panes. Completed steps remain clickable.</p>

  <h3>Via data-attributes</h3>
  <p>The wizard will automatically instantiate any wizards with <code>data-initialize="wizard"</code>. If you add control markup <i>after page load</i> with <code>data-initialize="wizard"</code>, this control initializes on <code>mouseover</code>.

  <h3>Via JavaScript</h3>
  {% highlight js %}$('#MyWizard').wizard();{% endhighlight %}

  <h3>Markup</h3>
  <p>Wrap <code>class="wizard"</code> around a list of steps, navigation, and content within a <code>class="fuelux"</code> container.</p>
{% highlight html %}
<div class="wizard">
  <ul class="steps">
    <li class="active" data-step="1"><span class="badge">1</span>Step 1<span class="chevron"></span></li>
  </ul>
  <div class="actions">
    <button class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
    <button class="btn btn-default btn-next" data-last="Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
  <div class="step-content">
    <div class="step-pane active sample-pane" data-step="1">
        ....
    </div>
    ....
  </div>
</div>
{% endhighlight %}

  <h3>Data Attribute Options</h3>
  <p>For data attributes, append the option name to data-, as in data-restrict="".</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Attribute</th>
          <th style="width: 50px;">Description</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>restrict</td>
          <td>previous</td>
          <td>Prevents the user from navigating to a previous step</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->

  <h3>Methods</h3>
  <h4>$().wizard()</h4>
  Attaches wizard to a list of steps, navigation, and content

  <h4>.wizard('destroy')</h4>
  <p>Removes all functionality, jQuery data, and the markup from the DOM. Returns string of control markup</p>
  {% highlight js %}$('#element').wizard('destroy');{% endhighlight %}
  
  <h4>.wizard('previous')</h4>
  <p>Moves to the previous step</p>
  {% highlight js %}$('#element').wizard('previous');{% endhighlight %}

  <h4>.wizard('next')</h4>
  <p>Moves to the next step</p>
  {% highlight js %}$('#element').wizard('next');{% endhighlight %}

  <h4>.wizard('selectedItem')</h4>
  <p>Returns the current step index</p>
{% highlight js %}
$('#element').wizard('selectedItem', {
  step: 3
});
{% endhighlight %}

  <h4>.wizard('addSteps')</h4>
  <p>Add a pane or an array of panes to a wizard. Wrap this markup with <code>&lt;div class=&quot;step-pane&quot;&gt;&lt;/div&gt;</code></p>
{% highlight js %}
$('#element').wizard('addSteps', index, remove, 
  [
  {
    badge: 'badge-customicon',
    label: 'A Step Label',
    pane: '<div>Content</div>'
  }
]);
{% endhighlight %}

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Parameter</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>index</td>
          <td><i>Required.</i> Identifies the position used to start inserting pane(s). First pane exists at position 1. If you use -1, the item will append to end of the list of panes.</td>
        </tr>
        <tr>
          <td>remove</td>
          <td><i>Optional.</i> Specifies the number of panes to remove after adding panes. Defaults to 0.</td>
        </tr>
        <tr>
          <td><i>[item1, ..., itemX] <br/> item1, ..., itemX</i></td>
          <td>Identifies an array or list of content pane objects to add at the <code>index</code>. Each pane can contain three strings:
            <ul>
              <li>a <code>badge</code> class to be appended to the <code>class</code> attribute of the step in order to override the default number</li>
              <li>a <code>label</code> for the name of the step</li>
              <li>the <code>pane</code> of HTML content</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->

  <h4>.wizard('RemoveSteps')</h4>
  <p>Remove a pane or multiple panes from a wizard</p>
{% highlight js %}
  $('#element').wizard('removeSteps', index, howMany);
{% endhighlight %}

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Parameter</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>index</td>
          <td><i>Required.</i> Identifies the position where to begin removing pane(s). First pane exists at position 1.</td>
        </tr>
        <tr>
          <td>howMany</td>
          <td><i>Optional.</i> Specifies the number of panes to removed. Defaults to 1.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->


  <h3>Events</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Event Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>change.fu.wizard</td>
          <td>This event fires immediately when the step changes, but before the wizard shows the new step. Use <code>event.preventDefault</code> to cancel the event.</td>
        </tr>
        <tr>
          <td>changed.fu.wizard</td>
          <td>This event fires when the step changes and displays to the user.</td>
        </tr>
        <tr>
          <td>finished.fu.wizard</td>
          <td>This event fires when the user clicks the next button on the last step of the wizard.</td>
        </tr>
        <tr>
          <td>stepclick.fu.wizard</td>
          <td>This event fires when the user clicks a completed step. Use <code>event.preventDefault</code> to cancel the event.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->
{% highlight js %}
$('#Mywizard').on('change', function () {
  // do something
});
{% endhighlight %}

</div><!-- end docs-section -->
