<!-- wizard
================================================== -->
<div class="fu-docs-section">
  <h1 id="wizard" class="page-header">Wizard <small>wizard.js</small></h1>

  <h2 id="wizard-examples">Examples</h2>
  <p>Wrap the input and wizard button within <code>.fuelux .wizard</code></p>
  <div class="fu-example">
    <div id="MyWizard" class="wizard" data-initialize="wizard">
      {% include js/wizard-example.html %}
    </div>
  </div><!-- /example -->

{% highlight html %}
<div class="wizard" data-initialize="wizard">
{% include js/wizard-example.html %}
</div>
{% endhighlight %}

  <h2 id="wizard-usage">Usage</h2>
  <p>A wizard divides a complex goal into multiple steps by separating sub-tasks or content into panes. Panes can be added or removed. Completed steps can be clicked.</p>

  <h3>Via data-attributes</h3>
  <p>The wizard will automatically instantiate any wizards with <code>data-initialize="wizard"</code>. If the control markup is added <i>after page load</i> with <code>data-initialize="wizard"</code>, this control will be initialized on <code>mouseover</code>.

  <h3>Via JavaScript</h3>
  {% highlight js %}$('#MyWizard').wizard();{% endhighlight %}

  <h3>Markup</h3>
  <p>Wrap <code>class="wizard"</code> around a list of steps, navigation, and content within a <code>class="fuelux"</code> container.</p>
{% highlight html %}
<div class="wizard">
  <ul class="steps">
    <li class="active" data-step="1"><span class="badge">1</span>Step 1<span class="chevron"></span></li>
  </ul>
  <div class="actions">
    <button class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
    <button class="btn btn-default btn-next" data-last="Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
  <div class="step-content">
    <div class="step-pane active sample-pane" data-step="1">
        ....
    </div>
    ....
  </div>
</div>
{% endhighlight %}

  <h3>Data Attribute Options</h3>
  <p>For data attributes, append the option name to data-, as in data-restrict="".</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Attribute</th>
          <th style="width: 50px;">Description</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>restrict</td>
          <td>previous</td>
          <td>Prevents the user from navigating to a previous step</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->

  <h3>Methods</h3>
  <h4>$().wizard()</h4>
  Attaches wizard to a list of steps, navigation, and content.
  
  <h4>.wizard('previous')</h4>
  <p>Moves to the previous step</p>
  {% highlight js %}$('#element').wizard('previous');{% endhighlight %}

  <h4>.wizard('next')</h4>
  <p>Moves to the next step</p>
  {% highlight js %}$('#element').wizard('next');{% endhighlight %}

  <h4>.wizard('selectedItem')</h4>
  <p>Returns the current step index</p>
{% highlight js %}
$('#element').wizard('selectedItem', {
  step: 3
});
{% endhighlight %}

  <h4>.wizard('addSteps')</h4>
  <p>Add a pane or an array of panes to a wizard. This markup is wrapped with <code>&lt;div class=&quot;step-pane&quot;&gt;&lt;/div&gt;</code></p>
{% highlight js %}
$('#element').wizard('addSteps', index, remove, 
  [
  {
    badge: 'badge-customicon',
    label: 'A Step Label',
    pane: '<div>Content</div>'
  }
]);
{% endhighlight %}

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Parameter</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>index</td>
          <td><i>Required.</i> The position where to start inserting pane(s). First pane is at position 1. If -1 is used, the item will be appended to end of the list of panes.</td>
        </tr>
        <tr>
          <td>remove</td>
          <td><i>Optional.</i> The number of panes to be removed after adding panes. Default is 0.</td>
        </tr>
        <tr>
          <td><i>[item1, ..., itemX] <br/> item1, ..., itemX</i></td>
          <td>An array or list of content pane objects to be added at the <code>index</code>. Each pane can contain three strings: a <code>badge</code> class to be appended to the step's <code>class</code> attribute in order to override the default number, a <code>label</code> for the name of the step, and the <code>pane</code> of HTML content.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->

  <h4>.wizard('RemoveSteps')</h4>
  <p>Remove a pane or multiple panes from a wizard. </p>
{% highlight js %}
  $('#element').wizard('removeSteps', index, howMany);
{% endhighlight %}

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Parameter</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>index</td>
          <td><i>Required.</i> The position where to begin removing pane(s). First pane is at position 1.</td>
        </tr>
        <tr>
          <td>howMany</td>
          <td><i>Optional.</i> The number of panes to be removed. Default is 1.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->


  <h3>Events</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Event Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>change</td>
          <td>This event fires immediately when the step changes, but before the new step has been shown. Use <code>event.preventDefault</code> to cancel the event.</td>
        </tr>
        <tr>
          <td>changed</td>
          <td>This event is fired when the step has changed and is shown to the user.</td>
        </tr>
        <tr>
          <td>finished</td>
          <td>This event is fired when the next button is clicked on the last step of the wizard.</td>
        </tr>
        <tr>
          <td>stepclick</td>
          <td>This event is fired when a completed step is clicked. Use <code>event.preventDefault</code> to cancel the event.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- ./fu-table-responsive -->
{% highlight js %}
$('#Mywizard').on('change', function () {
  // do something
});
{% endhighlight %}

</div><!-- end docs-section -->