<!DOCTYPE html>

<!-- ================================== -->
<!-- PLEASE KEEP FOR SANDBOXING EXAMPLE -->
<!-- copy file and remove '.example'	-->
<!-- dev.html is included in .gitignore -->
<!-- cleanliness is next to godliness	-->
<!-- ================================== -->

<html lang="en" class="fuelux">
<head>
	<meta charset="utf-8">
	<title>dev.html</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">

	<!--<link href="../dist/css/fuelux.css" rel="stylesheet" type="text/css">-->

	<!--CLIENT-SIDE LESS COMPILATION FOR WATCHER-LESS DEV-->
	<link href="../less/fuelux.less" rel="stylesheet/less" type="text/css"/>

	<style>
		/* ================ */
		/* your styles here */
		/* ================ */
	</style>

</head>

<body>
	<!-- ================ -->
	<!-- your markup here -->
	<!-- ================ -->
</body>

<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>

<script src="../bower_components/requirejs/require.js" type="text/javascript"></script>
<script type="text/javascript">
	(function () {
		requirejs.config({
			config: {
				moment: {
					noGlobal: true
				}
			},
			paths: {
				jquery: '../bower_components/jquery/dist/jquery',
				underscore: '../bower_components/underscore/underscore',
				bootstrap: '../bower_components/bootstrap/dist/js/bootstrap',
				moment: '../bower_components/moment/min/moment-with-locales.min',
				fuelux: '../js'
			},
			shim: {
				'bootstrap': {
					deps: ['jquery'],
					exports: 'bootstrap'
				}
			}
		});

		require(['fuelux/all'], function() {
			/* fully loaded with fuelux goodness and all it's dependencies */

			/* ================= */
			/* your scripts here */
			/* ================= */
		});
	})();
</script>

</html>
</html>
