<li>
	<a href="#stock-extensions">Stock Extensions</a>
	<ul class="nav">
		<li><a href="#stock-extensions-dropdown-autoflip">Auto-Flip Dropdowns</a></li>
		<li><a href="#stock-extensions-list">Repeater List View</a></li>
		<li><a href="#stock-extensions-thumbnail">Repeater Thumbnail View</a></li>
	</ul>
</li>
<li>
	<a href="#writing-extensions">Writing an Extension</a>
	<ul class="nav">
		<li><a href="#writing-extensions-general">General</a></li>
		<li><a href="#writing-extensions-repeater">Repeater Views</a></li>
	</ul>
</li>
<li>
	<a href="#external-extensions">Community Extension List</a>
	<ul class="nav">
		<li><a href="#external-extensions-etc">Etc</a></li>
	</ul>
</li>