<li>
	<a href="#bundled-extensions">Bundled Extensions</a>
	<ul class="nav">
		<li><a href="#bundled-extensions-dropdown-autoflip">Auto-Flip Drop-downs</a></li>
		<li><a href="#bundled-extensions-list">Repeater List View</a></li>
		<li><a href="#bundled-extensions-thumbnail">Repeater Thumbnail View</a></li>
	</ul>
</li>
<li>
	<a href="#writing-extensions">Writing an Extension</a>
	<ul class="nav">
		<li><a href="#writing-extensions-repeater">Repeater Views</a></li>
	</ul>
</li>
<li>
		<a href="#community-extensions">Community Extensions</a>
		<ul class="nav">
			<li><a href="#submit-community-extensions">Submit an Extension</a></li>
			<li><a href="#list-community-extensions">List of Community Extentions</a></li>
		</ul>
</li>
