<li>
	<a href="#checkboxes">Checkboxes</a>
	<ul class="nav">
		<li><a href="#checkboxes-examples">Examples</a></li>
		<li><a href="#checkboxes-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#comboboxes">Comboboxes</a>
	<ul class="nav">
		<li><a href="#comboboxes-examples">Examples</a></li>
		<li><a href="#comboboxes-alignment">Alignment</a></li>
		<li><a href="#comboboxes-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#infinite-scrolling">Infinite Scrolling</a>
	<ul class="nav">
		<li><a href="#infinite-scrolling-examples">Examples</a></li>
		<li><a href="#infinite-scrolling-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#loaders">Loaders</a>
	<ul class="nav">
		<li><a href="#loaders-examples">Examples</a></li>
		<li><a href="#loaders-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#placards">Placards</a>
	<ul class="nav">
		<li><a href="#placards-examples">Examples</a></li>
		<li><a href="#placards-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#pillbox">Pillboxes</a>
	<ul class="nav">
		<li><a href="#pillbox-example">Example</a></li>
		<li><a href="#pillbox-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#radios">Radios</a>
	<ul class="nav">
		<li><a href="#radios-examples">Examples</a></li>
		<li><a href="#radios-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#repeaters">Repeaters</a>
	<ul class="nav">
		<li><a href="#repeaters-examples">Examples</a></li>
		<li><a href="#repeaters-usage">Usage</a></li>
		<li><a href="#repeaters-dataSource">Data Source</a></li>
		<li><a href="#repeaters-extensions">Extensions</a></li>
	</ul>
</li>
<li>
	<a href="#scheduler">Schedulers</a>
	<ul class="nav">
		<li><a href="#scheduler-example">Example</a></li>
		<li><a href="#scheduler-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#search">Search Boxes</a>
	<ul class="nav">
		<li><a href="#search-examples">Examples</a></li>
		<li><a href="#search-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#selectlist">Selectlists</a>
	<ul class="nav">
		<li><a href="#selectlist-example">Example</a></li>
		<li><a href="#selectlist-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#spinbox">Spinboxes</a>
	<ul class="nav">
		<li><a href="#spinbox-example">Example</a></li>
		<li><a href="#spinbox-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#tree">Trees</a>
	<ul class="nav">
		<li><a href="#tree-example">Example</a></li>
		<li><a href="#tree-usage">Usage</a></li>
	</ul>
</li>
<li>
	<a href="#wizard">Wizards</a>
	<ul class="nav">
		<li><a href="#wizard-example">Examples</a></li>
		<li><a href="#wizard-usage">Usage</a></li>
	</ul>
</li>
