<header class="navbar navbar-fixed-top fu-docs-nav" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".fu-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand">Fuel UX</a>
		</div>
		<nav class="collapse navbar-collapse fu-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li{% if page.slug == "getting-started" %} class="active"{% endif %}>
					<a href="getting-started.html">Getting Started</a>
				</li>
<!--				<li{% if page.slug == "css" %} class="active"{% endif %}>
					<a href="{{ site.url }}/css.html">CSS</a>
				</li> -->
				<!--<li{% if page.slug == "components" %} class="active"{% endif %}>-->
					<!--<a href="{{ site.url }}/components.html">Components</a>-->
				<!--</li>-->
				<li{% if page.slug == "javascript" %} class="active"{% endif %}>
					<a href="javascript.html">Controls</a>
				</li>
				<li{% if page.slug == "extensions" %} class="active"{% endif %}>
					<a href="extensions.html">Extensions</a>
				</li>
				<li{% if page.slug == "formbuilder" %} class="active"{% endif %}>
					<a href="formbuilder.html">Form Builder</a>
				</li>

				<li{% if page.slug == "tutorials" %} class="active"{% endif %}>
					<a href="http://fuelux-tutorials.herokuapp.com/">Tutorials</a>
				</li>

				{% if page.mctheme == true %}
				<li>
					<a href="index.html#mctheme">Marketing Cloud Theme</a>
				</li>
				{% endif %}

				<!--<li{% if page.slug == "customize" %} class="active"{% endif %}>
					<a href="{{ site.url }}/customize.html">Customize</a>
				</li>-->
			</ul>
		</nav>


		<!-- fork me ribbon, copied from https://github.com/blog/273-github-ribbons -->
		<a class="hidden-xs" href="https://github.com/ExactTarget/fuelux"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

	</div>
</header>