<div class="fu-docs-section">

  <h1 id="bugs">Bugs and feature requests</h1>

  <p>Have a bug or a feature request? Please first review the <a href="https://github.com/ExactTarget/fuelux/issues">open issues</a>, then search for existing and closed issues. If your problem or idea is not addressed yet, <a href="https://github.com/ExactTarget/fuelux/issues/new">please open a new issue</a>.</p>

  <p>You can visit <a href="https://code.exacttarget.com/">Code@</a> for general information and search <a href="http://stackoverflow.com/questions/tagged/fuelux">Fuel UX tagged questions on StackOverflow</a>.</p>

  <h3>
  <a name="user-content-previous-releases" class="anchor" href="#previous-releases"><span class="octicon octicon-link"></span></a>Previous releases</h3>

  <p>While we will still maintain the 2.6.x version (bug fixes only), it’s deprecated. The <a href="{{ site.url }}/2.6/">Fuel UX 2.x documentation</a> has moved and a <a href="https://github.com/ExactTarget/fuelux/tree/fuelux2">legacy branch</a> has been created. We'll leave the Fuel UX 2.x branch up and available for the foreseeable future.</p>

</div>