<div class="fu-docs-section">

<h1 id="get-fuelux">Get Fuel UX</h1>
  <p class="text-muted">Currently v{{ site.current_version }}</p>

  <div>
    <h3 id="cdn">Use the Fuel UX CDN</h3>
    <p>The quickest, easiest, most magical way to get Fuel UX is to let us host it for you from our CDN!</p>

    <p>This will require you to manage your own <a href="{{site.repo}}/blob/master/bower.json">dependencies</a>. If that scares you, you could <a href="#bower-fuelux">use bower</a> to have that taken care of for you.</p>
    {% highlight html %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ site.cdn.css }}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ site.cdn.js }}"></script>
    {% endhighlight %}

  </div>
  <div>
    <h3 id="bower-fuelux">Install with Bower or Volo</h3>
    <p>If you use a dependency manager to manage your front-end code, this method may be right for you. This method ensures you receive all the dependencies you might need, such as jQuery, Bootstap, moment.js (for extended date support), and requireJS (for AMD support).</p>
    <p>Using <a href="https://github.com/bower/bower">Bower</a>:</p>

    <pre><code>bower install fuelux</code></pre>

    <p>Update with <code>bower update fuelux</code>.</p>

    <p>Using <a href="https://github.com/volojs/volo">Volo</a>:</p>

    <pre><code>volo add fuelux</code></pre>

    <p>Update with <code>volo add -f fuelux</code>.</p>

  </div>
  <div>
    <h3 id="fork-source">Fork You</h3>

    <p><a href="https://github.com/ExactTarget/fuelux/" class="btn btn-lg btn-outline" role="button">Fork on Github</a></p>
    <p>If you need to make some customizations, this is your best option. It will allow you to merge in future changes from upstream <em class="text-muted">(that's us!)</em> without overwriting your awesomeness.</p>

    <pre><code>git clone https://github.com/ExactTarget/fuelux/</code></pre>

  </div>
  <div>
    <h3 id="download-fuelux">Just the Files, Ma'am</h3>
    <a href="{{ site.download.dist }}" class="btn btn-lg btn-outline" role="button">Download Zipped Fuel UX</a>
    <a href="{{ site.download.source }}" class="btn btn-lg btn-outline" role="button">Download Entire Source</a>

  </div>
</div>
