<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FuelUX Basic Template (Globals)</title>
    <!-- CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="//fuelux-dev.herokuapp.com/dist/css/fuelux.min.css" rel="stylesheet">
  </head>
  <body class="fuelux">
    <!-- Checkbox example -->
    <div class="checkbox" data-attribute="checkbox">
      <label class="checkbox-custom">
        <input class="sr-only checked" type="checkbox" data-toggle="#checkboxToggle1">
        <span class="checkbox-label">I love kittens.</span>
      </label>
    </div>
    <div id="checkboxToggle1" class="alert bg-info">Great. Meow, too!</div>

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="//fuelux-dev.herokuapp.com/dist/js/fuelux.js"></script>
  </body>
</html>