<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FuelUX Basic Template (AMD)</title>
    <!-- CSS -->
    <link href="{{site.bootstrap.css}}" rel="stylesheet">
    <link href="{{site.cdn.css}}" rel="stylesheet">
    <!-- Require.js - AMD loader -->
    <script src="//cdn.jsdelivr.net/requirejs/2.1.11/require.js"></script>
    <script>
      requirejs.config({
        paths: {
          'bootstrap': '{{site.bootstrap.js_amd}}',
          'fuelux': '{{site.cdn.js_amd}}',
          'jquery': '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery',
          // Moment.js is optional
          'moment': '//cdn.jsdelivr.net/momentjs/2.6.0/lang-all.min' 
        },
        // Bootstrap is a "browser globals" script :-(
        shim: { 'bootstrap': { deps: ['jquery'] } }
      });
      // Require all.js or include individual files as needed
      require(['jquery', 'bootstrap', 'fuelux'], function($){});
    </script>
  </head>
  <body class="fuelux">
    <!-- Checkbox example -->
    <div class="checkbox">
      <label class="checkbox-custom" data-initialize="checkbox">
        <input class="sr-only" type="checkbox" value="option1" data-toggle="#hereKittyKitty">
        <span class="checkbox-label">I love kittens.</span>
      </label>
    </div>
    <div id="hereKittyKitty" class="alert bg-info">Great. Meow, too!</div>
  </body>
</html>