<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fuel UX, a front-end library that extends Bootstrap with additional lightweight controls.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, fuel ux, bootstrap, extends, front-end, frontend, web development">
<meta name="author" content="ExactTarget">

<title>{% if page.title == "Fuel UX" %}{{ page.title }}{% else %}{{ page.title }} &middot; Fuel UX{% endif %}</title>

<!-- Favicons -->

<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/ico/apple-touch-icon-144-precomposed.png">-->
<!--<link rel="shortcut icon" href="{{ site.url }}/assets/ico/favicon.ico">-->

<!-- Styles -->

<!-- Bootstrap CSS-->
<link href="{{ site.url }}/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.url }}/assets/vendor/fuelux/dist/css/fuelux.css" rel="stylesheet" type="text/css">
<!-- Docs CSS -->
<link href="{{ site.url }}/assets/css/docs.css" rel="stylesheet">

<!-- Copy select -->
<link href="{{ site.url }}/assets/css/super-copy.css"  rel="stylesheet" type="text/css">

<!-- Specific Page CSS -->
{% if page.title != "Fuel UX" %}
	<link href="{{ site.url }}/assets/css/{{page.slug}}.css" rel="stylesheet">
{% endif %}

