<div class="fu-featurette">
	<div class="container">
		<h2 class="fu-featurette-title">Ignite your Bootstrap project today.</h2>
		<p class="lead">Include Fuel UX controls in your next web project knowing it's solidly optimized and easy to upgrade.</p>

		<hr class="half-rule">

		<div class="row">
			<div class="col-sm-4">
				<img src="{{ site.url }}/assets/img/a-little-a-lot.png" alt="Modular controls" class="img-responsive">
				<h3>Use a little or use a lot.</h3>
				<p>Deploy only the controls you want with minimal, name-spaced, responsive styling designed to easily fit into your automated workflow.</p>
			</div>
			<div class="col-sm-4">
				<img src="{{ site.url }}/assets/img/daily-dogfooding.png" alt="Documentation &amp; Unit Tests" class="img-responsive">
				<h3>Daily dogfooding.</h3>
				<p>Fuel UX is an integral part of the <a href="http://www.exacttarget.com/">Salesforce Marketing Cloud</a> product and is continually being enhanced and maintained by a team of engineers embedded within a UX Design Studio.</p>
			</div>
			<div class="col-sm-4">
				<img src="{{ site.url }}/assets/img/umd-everywhere.png" alt="UMD Compliant" class="img-responsive">
				<h3>Modules that work everywhere.</h3>
				<p>All Fuel UX controls follow Universal Module Definition patterns and are compatible with AMD, CommonJS, or plain-old browser globals.</p>
			</div>
		</div>

		<hr class="half-rule">

		<p class="lead">Fuel UX is open source. It's hosted, developed, and maintained on GitHub.</p>
		<a href="{{ site.repo }}" class="btn btn-outline btn-lg">View the GitHub project</a>
	</div>
</div>
