<main class="fu-masthead" id="content" role="main">
	<div class="container">

		<image class="fu-logo" src="{{ site.url }}/assets/img/fuel-ux-logo-2014.png"></image>
		<p class="lead">Fuel UX extends Bootstrap with additional lightweight JavaScript controls for your web applications.</p>
		<p class="lead">
			<a href="getting-started.html#get-fuelux" class="btn btn-outline-inverse btn-lg">Get Fuel UX</a>
			<a href="javascript.html" class="btn btn-outline-inverse btn-lg">View Controls</a>
			<a href="#mctheme" class="btn btn-outline-inverse btn-lg">Get Theme</a>
		</p>
	</div>
</main>