<li>
	<a href="#writing-plugins">Writing a Plugin</a>
	<ul class="nav">
		<li><a href="#writing-plugins-general">General</a></li>
		<li><a href="#writing-plugins-repeater">Repeater Views</a></li>
	</ul>
</li>
<li>
	<a href="#stock-plugins">Stock Plugins</a>
	<ul class="nav">
		<li><a href="#stock-plugins-list">Repeater List View</a></li>
		<li><a href="#stock-plugins-thumbnail">Repeater Thumbnail View</a></li>
	</ul>
</li>
<li>
	<a href="#external-plugins">Community Plugin List</a>
	<ul class="nav">
		<li><a href="#external-plugins-etc">Etc</a></li>
	</ul>
</li>