<div class="fu-social">
	<ul class="fu-social-buttons">
		<li>
			<iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=ExactTarget&amp;repo=fuelux&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
		</li>
		<li>
			<iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=ExactTarget&amp;repo=fuelux&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
		</li>
		<li class="follow-btn">
			<a href="https://twitter.com/FuelUX" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @FuelUX</a>
		</li>
		<li class="tweet-btn">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://getfuelux.com/" data-count="horizontal" data-via="FuelUX">Tweet</a>
		</li>
	</ul>
</div>
