	<section id="comboboxen">
		<h2>Combobox</h2>
		<div class="thin-box">
			<section>
			{{#each comboboxen}}
				{{> combobox id=this.id options=this.options}}
			{{/each}}
			</section>
		</div>
	</section>
