/*
 * Scaffolding
 *
 * Update the basics of our documents to prep for docs content.
 */

body {
	position: relative; /* For scrollyspy */
}

a {
	color: #8fa5b7;
}

a:hover,
a:focus
{
	color: #436078;
}

/* Keep code small in tables on account of limited space */
/*.table code {
	font-size: 13px;
	font-weight: normal;
}*/

/* Outline button for use within the docs */
.btn-outline {
	color: #555;
	background-color: transparent;
	border-color: #555;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
	color: #eee;
	background-color: #555;
	border-color: #555;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
	color: #333;
	background-color: transparent;
	border-color: #666;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
	color: #eee;
	text-shadow: none;
	background-color: #333;
	border-color: #333;
}

/*
 * Main navigation
 *
 * Turn the `.navbar` at the top of the docs purple.
 */

.fu-docs-nav {
	margin-bottom: 0;
	background-color: #333;
	border-bottom: 0;
}
.fu-home-nav .fu-nav-b {
	display: none;
}
.fu-docs-nav .navbar-brand,
.fu-docs-nav .navbar-nav > li > a {
	color: #eee;
	font-weight: 500;
}
.fu-docs-nav .navbar-nav > li > a:hover,
.fu-docs-nav .navbar-nav > .active > a,
.fu-docs-nav .navbar-nav > .active > a:hover {
	color: #ddd;
	background-color: #444;
}
.fu-docs-nav .navbar-toggle .icon-bar {
	background-color: #eee;
}
.fu-docs-nav .navbar-header .navbar-toggle {
	border-color: #fff;
}
.fu-docs-nav .navbar-header .navbar-toggle:hover,
.fu-docs-nav .navbar-header .navbar-toggle:focus {
	background-color: #f9f9f9;
	border-color: #f9f9f9;
}

/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.fu-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
.footer-links {
	margin-top: 20px;
	padding-left: 0;
	color: #999;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}

@media (min-width: 768px) {
	.fu-footer p {
		margin-bottom: 0;
	}
}

/*
 * Social buttons
 *
 * Twitter and GitHub social action buttons (for homepage and footer).
 */

.fu-social {
	margin-bottom: 20px;
	text-align: center;
}
.fu-social-buttons {
	display: inline-block;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.fu-social-buttons li {
	display: inline-block;
	line-height: 1;
	padding: 5px 8px;
}
.fu-social-buttons .twitter-follow-button {
	width: 210px !important;
}
.fu-social-buttons .twitter-share-button {
	width: 98px !important;
}
/* Style the GitHub buttons via CSS instead of inline attributes */
.github-btn {
	border: 0;
	overflow: hidden;
}

/*
 * Homepage
 *
 * Tweaks to the custom homepage and the masthead (main jumbotron).
 */

.fu-logo {
	margin: 0 auto 30px;
}

/* Share masthead with page headers */
.fu-masthead,
.fu-header {
	/*color: #333;*/
	position: relative;
	padding: 30px 15px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);

	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #ddd 0%, #eee 100%);
	background-image: linear-gradient(to bottom, #ddd 0%, #eee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#eee', GradientType=0);
}

/* Masthead (headings and download button) */
.fu-masthead .fu-booticon {
	margin: 0 auto 30px;
}
.fu-masthead h1 {
	color: #fff;
	font-weight: 300;
	line-height: 1;
}
.fu-masthead .lead {
	color: #333;
	font-size: 20px;
	margin: 0 auto 30px;
}
.fu-masthead .lead:last-child {
	margin-bottom: 0;
}
.fu-masthead .btn {
	width: 100%;
	padding: 15px 30px;
	font-size: 20px;
}

@media (min-width: 480px) {
	.fu-masthead .btn {
		width: auto;
	}
}

@media (min-width: 768px) {
	.fu-masthead {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.fu-masthead h1 {
		font-size: 60px;
	}
	.fu-masthead .lead {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.fu-masthead .lead {
		width: 80%;
		font-size: 30px;
	}
}

/*
 * Page headers
 *
 * Jumbotron-esque headers at the top of every page that's not the homepage.
 */

/* Page headers */
.fu-header {
	margin-bottom: 40px;
	font-size: 20px;
}
.fu-header h1 {
	margin-top: 0;
	color: #f59031;
}
.fu-header p {
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.4;
}
.fu-header .container {
	position: relative;
}

@media (min-width: 768px) {
	.fu-header {
		padding-top: 60px;
		padding-bottom: 60px;
		font-size: 24px;
		text-align: left;
	}
	.fu-header h1 {
		font-size: 60px;
		line-height: 1;
	}
}

@media (min-width: 992px) {
	.fu-header h1,
	.fu-header p {
		margin-right: 380px;
	}
}

/*
 * Homepage featurettes
 *
 * Reasons to use Fuel UX and more.
 */

.fu-featurette {
	padding-top:    40px;
	padding-bottom: 40px;
	font-size: 16px;
	line-height: 1.5;
	color: #555;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}
.fu-featurette + .fu-footer {
	margin-top: 0;
	border-top: 0;
}

.fu-featurette-title {
	font-size: 30px;
	font-weight: normal;
	color: #333;
	margin-bottom: 5px;
}
.half-rule {
	width: 100px;
	margin: 40px auto;
}
.fu-featurette h3 {
	font-weight: normal;
	color: #333;
	margin-bottom: 5px;
}
.fu-featurette-img {
	display: block;
	margin-bottom: 20px;
	color: #333;
}
.fu-featurette-img:hover {
	text-decoration: none;
	color: #428bca;
}
.fu-featurette-img img {
	display: block;
	margin-bottom: 15px;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.fu-sidebar.affix {
	position: static;
}
@media (min-width: 768px) {
	.fu-sidebar {
		padding-left: 20px;
	}
}

/* First level of nav */
.fu-sidenav {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* All levels of nav */
.fu-sidebar .nav > li > a {
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}
.fu-sidebar .nav > li > a:hover,
.fu-sidebar .nav > li > a:focus {
	padding-left: 19px;
	color: #f59031;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #f59031;
}
.fu-sidebar .nav > .active > a,
.fu-sidebar .nav > .active:hover > a,
.fu-sidebar .nav > .active:focus > a {
	padding-left: 18px;
	font-weight: bold;
	color: #f59031;
	background-color: transparent;
	border-left: 2px solid #f59031;
}

/* Nav: second level (shown on .active) */
.fu-sidebar .nav .nav {
	display: none; /* Hide by default, but at >768px, show it */
	padding-bottom: 10px;
}
.fu-sidebar .nav .nav > li > a {
	padding-top:    2px;
	padding-bottom: 2px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: normal;
}
.fu-sidebar .nav .nav > li > a:hover,
.fu-sidebar .nav .nav > li > a:focus {
	padding-left: 29px;
}
.fu-sidebar .nav .nav > .active > a,
.fu-sidebar .nav .nav > .active:hover > a,
.fu-sidebar .nav .nav > .active:focus > a {
	font-weight: 500;
	padding-left: 28px;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
	.fu-sidebar .nav > .active > ul {
		display: block;
	}
	/* Widen the fixed sidebar */
	.fu-sidebar.affix,
	.fu-sidebar.affix-bottom {
		width: 213px;
	}
	.fu-sidebar.affix {
		position: fixed; /* Undo the static from mobile first approach */
		top: 20px;
	}
	.fu-sidebar.affix-bottom {
		position: absolute; /* Undo the static from mobile first approach */
	}
	.fu-sidebar.affix-bottom .fu-sidenav,
	.fu-sidebar.affix .fu-sidenav {
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (min-width: 1200px) {
	/* Widen the fixed sidebar again */
	.fu-sidebar.affix-bottom,
	.fu-sidebar.affix {
		width: 263px;
	}
}

/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */

/* Space things out */
.fu-docs-section {
	margin-bottom: 60px;
}
.fu-docs-section:last-child {
	margin-bottom: 0;
}

h1[id] {
	margin-top: 0;
	padding-top: 20px;
}

/*
 * Pygments - Manni CSS
 *
 * This stuff will probably be in a separate css file that we merge later on
 */
.hll { background-color: #ffffcc }
/*{ background: #f0f3f3; }*/
.c { color: #999; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: #999; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #FF6600 } /* Literal.Number */
.s { color: #d44950 } /* Literal.String */
.na { color: #4f9fcf } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #00AA88; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #CC00FF } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #FF6600 } /* Literal.Number.Float */
.mh { color: #FF6600 } /* Literal.Number.Hex */
.mi { color: #FF6600 } /* Literal.Number.Integer */
.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #FF6600 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
/* Echo out a label for the example */
.bs-example:after {
  content: "Example";
  position: absolute;
  top:  15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Tweak display of the code snippets when following an example */
.bs-example + .highlight {
  margin: -15px -15px 15px;
  border-radius: 0;
  border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .bs-example + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* Undo width of container */
.bs-example .container {
  width: auto;
}

/* Tweak content of examples for optimum awesome */
.bs-example > p:last-child,
.bs-example > ul:last-child,
.bs-example > ol:last-child,
.bs-example > blockquote:last-child,
.bs-example > .form-control:last-child,
.bs-example > .table:last-child,
.bs-example > .navbar:last-child,
.bs-example > .jumbotron:last-child,
.bs-example > .alert:last-child,
.bs-example > .panel:last-child,
.bs-example > .list-group:last-child,
.bs-example > .well:last-child,
.bs-example > .progress:last-child,
.bs-example > .table-responsive:last-child > .table {
  margin-bottom: 0;
}
.bs-example > p > .close {
  float: none;
}

/* Typography */
.bs-example-type .table .type-info {
  color: #999;
  vertical-align: middle;
}
.bs-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}
.bs-example-type .table tr:first-child td {
  border-top: 0;
}
.bs-example-type h1,
.bs-example-type h2,
.bs-example-type h3,
.bs-example-type h4,
.bs-example-type h5,
.bs-example-type h6 {
  margin: 0;
}

/* Contextual background colors */
.bs-example-bg-classes p {
  padding: 15px;
}

/* Images */
.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
  margin: 5px;
}

/* Tables */
.bs-example > .table-responsive > .table {
  background-color: #fff;
}

/* Buttons */
.bs-example > .btn,
.bs-example > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bs-example > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

/* Forms */
.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
  margin-top: 10px;
}
.bs-example-form .input-group {
  margin-bottom: 10px;
}
.bs-example > textarea.form-control {
  resize: vertical;
}

/* List groups */
.bs-example > .list-group {
  max-width: 400px;
}


/* =======================================================
 * FuelUX Components
 * 
 * ======================================================= */

.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
.highlight pre {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	white-space: nowrap;
}
.highlight pre code {
	font-size: inherit;
	color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
	display: inline-block;
	width: 22px;
	padding-right: 5px;
	margin-right: 10px;
	text-align: right;
	color: #bebec5;
}
.fuelux .checkbox.highlight,
.fuelux .checkbox-custom.highlight
{
	margin-bottom: 10px;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.pillbox {
	border: 1px solid #bbb;
	margin-bottom: 10px;
	border-radius: 4px;
}

/* Example schedulers */
.bs-example.fu-example-scheduler {
	background-color: #f5f5f5;
}
.bs-example.fu-example-scheduler .end-after > .sr-only,
.bs-example.fu-example-scheduler .end-on-date > .sr-only {
	display: inline;
	position: static;
}
.bs-example.fu-example-scheduler .end-after .spinbox {
	display: inline-block;
}
.fu-example-scheduler .scheduler .recurrence-panel {
	display: block;
}
.fu-example-scheduler .scheduler .scheduler-end {
	display: block;
}
.fu-example-scheduler .scheduler .scheduler-end .end-option-panel {
	display: block;
}

