<!DOCTYPE html>
<html lang="en" class="fuelux">
	<head>
		<!-- Meta, title, CSS, favicons, etc. -->
		{% include header.html %}

        <!-- Adding mc-theme to documentation for the fuel site -->
        <link href="http://www.fuelcdn.com/fuelux-mctheme/1.12.1/css/fuelux-mctheme.min.css" rel="stylesheet" type="text/css"/>
        
        <!-- fuelux-site specific css -->
        <link type="text/css" href="/assets/css/fuelux-site.css" rel="stylesheet" />
	</head>
<body>
    <div id="fuelux-site-body">
	   <!-- Page Content -->
	   {{ content }}
    </div>
    <!-- Script is pulled from footer -->
    <script>
        require(['jquery', 'bootstrap', 'moment', 'assets/js/application'], function($){});
    </script>
</body>
</html>
