<!DOCTYPE html>
<html lang="en" class="fuelux">
	<head>
		<!-- Meta, title, CSS, favicons, etc. -->
		{% include header.html %}

        <!-- Adding mc-theme to documentation for the fuel site -->
        <link href="http://www.fuelcdn.com/fuelux-mctheme/1.8.0/css/fuelux-mctheme.min.css" rel="stylesheet" type="text/css"/>

        <!-- Adding proxima font for fusion documentation -->
        <link href="//www.fuelcdn.com/fonts/proxima-nova.css" rel="stylesheet" type="text/css">
        
        <!-- fusion specific css -->
        <link type="text/css" href="/assets/css/fusion.css" rel="stylesheet" />
	</head>
<body>
    <div id="fusion-body">
	   <!-- Page Content -->
	   {{ content }}
    </div>
    <!-- Script is pulled from footer -->
    <script>
        require(['jquery', 'bootstrap', 'moment', 'assets/js/application'], function($){});
    </script>
</body>
</html>
